ble_pack resetGen.rst_iso_LC_1_8_0 { resetGen.reset_count_RNI28QE[4], resetGen.rst_iso }
clb_pack LT_1_8 { resetGen.rst_iso_LC_1_8_0 }
set_location LT_1_8 1 8
ble_pack Lab_UT.secuu0.l_count_5_LC_2_5_0 { Lab_UT.secuu0.vbuf_count_cntrl1.result_1[5], Lab_UT.secuu0.l_count[5] }
clb_pack LT_2_5 { Lab_UT.secuu0.l_count_5_LC_2_5_0 }
set_location LT_2_5 2 5
ble_pack Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_10__un175_ci_3_LC_2_6_1 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[10].un175_ci_3 }
ble_pack Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_7__un142_ci_0_LC_2_6_2 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[7].un142_ci_0 }
clb_pack LT_2_6 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_10__un175_ci_3_LC_2_6_1, Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_7__un142_ci_0_LC_2_6_2 }
set_location LT_2_6 2 6
ble_pack buart.Z_rx.hh_0_LC_2_11_5 { buart.Z_rx.hh_0_THRU_LUT4_0, buart.Z_rx.hh[0] }
clb_pack LT_2_11 { buart.Z_rx.hh_0_LC_2_11_5 }
set_location LT_2_11 2 11
ble_pack Lab_UT.secuu0.sec_clk_LC_4_4_0 { Lab_UT.secuu0.sec_clk_RNO, Lab_UT.secuu0.sec_clk }
ble_pack Lab_UT.secuu0.delay_line_1_LC_4_4_1 { Lab_UT.secuu0.delay_line_1_THRU_LUT4_0, Lab_UT.secuu0.delay_line[1] }
ble_pack Lab_UT.secuu0.l_precount_0_LC_4_4_2 { Lab_UT.secuu0.l_precount_RNO[0], Lab_UT.secuu0.l_precount[0] }
ble_pack Lab_UT.secuu0.l_precount_3_LC_4_4_3 { Lab_UT.secuu0.vbuf_precount_cntrl1.result_1[3], Lab_UT.secuu0.l_precount[3] }
ble_pack Lab_UT.secuu0.l_precount_2_LC_4_4_5 { Lab_UT.secuu0.vbuf_precount_cntrl1.result_1[2], Lab_UT.secuu0.l_precount[2] }
ble_pack Lab_UT.secuu0.l_precount_1_LC_4_4_6 { Lab_UT.secuu0.vbuf_precount_cntrl1.result_1[1], Lab_UT.secuu0.l_precount[1] }
ble_pack Lab_UT.secuu0.delay_line_0_LC_4_4_7 { Lab_UT.secuu0.delay_line_RNO[0], Lab_UT.secuu0.delay_line[0] }
clb_pack LT_4_4 { Lab_UT.secuu0.sec_clk_LC_4_4_0, Lab_UT.secuu0.delay_line_1_LC_4_4_1, Lab_UT.secuu0.l_precount_0_LC_4_4_2, Lab_UT.secuu0.l_precount_3_LC_4_4_3, Lab_UT.secuu0.l_precount_2_LC_4_4_5, Lab_UT.secuu0.l_precount_1_LC_4_4_6, Lab_UT.secuu0.delay_line_0_LC_4_4_7 }
set_location LT_4_4 4 4
ble_pack Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_13__un208_ci_0_LC_4_5_0 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[13].un208_ci_0 }
ble_pack Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_11__un186_ci_0_LC_4_5_1 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[11].un186_ci_0 }
ble_pack Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_12__un197_ci_9_LC_4_5_2 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[12].un197_ci_9 }
ble_pack Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_16__un241_ci_2_LC_4_5_3 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[16].un241_ci_2 }
ble_pack Lab_UT.secuu0.l_count_9_LC_4_5_4 { Lab_UT.secuu0.vbuf_count_cntrl1.result_1[9], Lab_UT.secuu0.l_count[9] }
ble_pack Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_15__un230_ci_1_LC_4_5_5 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[15].un230_ci_1 }
ble_pack Lab_UT.secuu0.l_count_15_LC_4_5_6 { Lab_UT.secuu0.l_count_RNO[15], Lab_UT.secuu0.l_count[15] }
ble_pack Lab_UT.secuu0.l_count_4_LC_4_5_7 { Lab_UT.secuu0.l_count_RNO[4], Lab_UT.secuu0.l_count[4] }
clb_pack LT_4_5 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_13__un208_ci_0_LC_4_5_0, Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_11__un186_ci_0_LC_4_5_1, Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_12__un197_ci_9_LC_4_5_2, Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_16__un241_ci_2_LC_4_5_3, Lab_UT.secuu0.l_count_9_LC_4_5_4, Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_15__un230_ci_1_LC_4_5_5, Lab_UT.secuu0.l_count_15_LC_4_5_6, Lab_UT.secuu0.l_count_4_LC_4_5_7 }
set_location LT_4_5 4 5
ble_pack Lab_UT.secuu0.l_count_RNI0S951_2_LC_4_6_0 { Lab_UT.secuu0.l_count_RNI0S951[2] }
ble_pack Lab_UT.secuu0.l_count_RNI20OC2_4_LC_4_6_1 { Lab_UT.secuu0.l_count_RNI20OC2[4] }
ble_pack Lab_UT.secuu0.l_count_RNIFM2M_13_LC_4_6_2 { Lab_UT.secuu0.l_count_RNIFM2M[13] }
ble_pack Lab_UT.secuu0.l_count_14_LC_4_6_3 { Lab_UT.secuu0.vbuf_count_cntrl1.result_1[14], Lab_UT.secuu0.l_count[14] }
ble_pack Lab_UT.secuu0.l_count_12_LC_4_6_4 { Lab_UT.secuu0.l_count_RNO[12], Lab_UT.secuu0.l_count[12] }
ble_pack Lab_UT.secuu0.l_count_13_LC_4_6_5 { Lab_UT.secuu0.l_count_RNO[13], Lab_UT.secuu0.l_count[13] }
ble_pack Lab_UT.secuu0.l_count_10_LC_4_6_6 { Lab_UT.secuu0.vbuf_count_cntrl1.result_1[10], Lab_UT.secuu0.l_count[10] }
ble_pack Lab_UT.secuu0.l_count_8_LC_4_6_7 { Lab_UT.secuu0.vbuf_count_cntrl1.result_1[8], Lab_UT.secuu0.l_count[8] }
clb_pack LT_4_6 { Lab_UT.secuu0.l_count_RNI0S951_2_LC_4_6_0, Lab_UT.secuu0.l_count_RNI20OC2_4_LC_4_6_1, Lab_UT.secuu0.l_count_RNIFM2M_13_LC_4_6_2, Lab_UT.secuu0.l_count_14_LC_4_6_3, Lab_UT.secuu0.l_count_12_LC_4_6_4, Lab_UT.secuu0.l_count_13_LC_4_6_5, Lab_UT.secuu0.l_count_10_LC_4_6_6, Lab_UT.secuu0.l_count_8_LC_4_6_7 }
set_location LT_4_6 4 6
ble_pack uu2.mem0.ram512X8_inst_RNO_7_LC_4_7_1 { uu2.mem0.ram512X8_inst_RNO_7 }
ble_pack uu2.mem0.ram512X8_inst_RNO_0_LC_4_7_2 { uu2.mem0.ram512X8_inst_RNO_0 }
ble_pack uu2.mem0.ram512X8_inst_RNO_1_LC_4_7_3 { uu2.mem0.ram512X8_inst_RNO_1 }
ble_pack uu2.mem0.ram512X8_inst_RNO_4_LC_4_7_5 { uu2.mem0.ram512X8_inst_RNO_4 }
ble_pack uu2.mem0.ram512X8_inst_RNO_12_LC_4_7_6 { uu2.mem0.ram512X8_inst_RNO_12 }
ble_pack uu2.mem0.ram512X8_inst_RNO_2_LC_4_7_7 { uu2.mem0.ram512X8_inst_RNO_2 }
clb_pack LT_4_7 { uu2.mem0.ram512X8_inst_RNO_7_LC_4_7_1, uu2.mem0.ram512X8_inst_RNO_0_LC_4_7_2, uu2.mem0.ram512X8_inst_RNO_1_LC_4_7_3, uu2.mem0.ram512X8_inst_RNO_4_LC_4_7_5, uu2.mem0.ram512X8_inst_RNO_12_LC_4_7_6, uu2.mem0.ram512X8_inst_RNO_2_LC_4_7_7 }
set_location LT_4_7 4 7
ble_pack uu2.mem0.ram512X8_inst_RNO_23_LC_4_8_0 { uu2.mem0.ram512X8_inst_RNO_23 }
ble_pack uu2.mem0.ram512X8_inst_RNO_9_LC_4_8_1 { uu2.mem0.ram512X8_inst_RNO_9 }
ble_pack uu2.mem0.ram512X8_inst_RNO_31_LC_4_8_2 { uu2.mem0.ram512X8_inst_RNO_31 }
ble_pack uu2.mem0.ram512X8_inst_RNO_19_LC_4_8_3 { uu2.mem0.ram512X8_inst_RNO_19 }
ble_pack uu2.mem0.ram512X8_inst_RNO_5_LC_4_8_4 { uu2.mem0.ram512X8_inst_RNO_5 }
ble_pack resetGen.rst_LC_4_8_6 { resetGen.reset_count_RNI28QE_4_resetGen.rst_REP_LUT4_0, resetGen.rst }
ble_pack uu2.mem0.ram512X8_inst_RNO_36_LC_4_8_7 { uu2.mem0.ram512X8_inst_RNO_36 }
clb_pack LT_4_8 { uu2.mem0.ram512X8_inst_RNO_23_LC_4_8_0, uu2.mem0.ram512X8_inst_RNO_9_LC_4_8_1, uu2.mem0.ram512X8_inst_RNO_31_LC_4_8_2, uu2.mem0.ram512X8_inst_RNO_19_LC_4_8_3, uu2.mem0.ram512X8_inst_RNO_5_LC_4_8_4, resetGen.rst_LC_4_8_6, uu2.mem0.ram512X8_inst_RNO_36_LC_4_8_7 }
set_location LT_4_8 4 8
ble_pack uu2.r_addr_esr_3_LC_4_9_0 { uu2.vbuf_raddr.result_1[3], uu2.r_addr_esr[3] }
ble_pack uu2.r_addr_esr_6_LC_4_9_1 { uu2.vbuf_raddr.result_1[6], uu2.r_addr_esr[6] }
ble_pack uu2.vbuf_raddr.counter_gen_label_8__un459_ci_0_LC_4_9_2 { uu2.vbuf_raddr.counter_gen_label[8].un459_ci_0 }
ble_pack uu2.r_addr_esr_8_LC_4_9_3 { uu2.vbuf_raddr.result_1[8], uu2.r_addr_esr[8] }
ble_pack uu2.r_addr_esr_7_LC_4_9_4 { uu2.vbuf_raddr.result_1[7], uu2.r_addr_esr[7] }
clb_pack LT_4_9 { uu2.r_addr_esr_3_LC_4_9_0, uu2.r_addr_esr_6_LC_4_9_1, uu2.vbuf_raddr.counter_gen_label_8__un459_ci_0_LC_4_9_2, uu2.r_addr_esr_8_LC_4_9_3, uu2.r_addr_esr_7_LC_4_9_4 }
set_location LT_4_9 4 9
ble_pack uu2.r_addr_2_LC_4_10_0 { uu2.r_addr_RNO[2], uu2.r_addr[2] }
ble_pack uu2.r_addr_1_LC_4_10_1 { uu2.r_addr_RNO[1], uu2.r_addr[1] }
ble_pack uu2.r_addr_0_LC_4_10_2 { uu2.r_addr_RNO[0], uu2.r_addr[0] }
ble_pack uu2.l_count_RNI88MU5_4_LC_4_10_3 { uu2.l_count_RNI88MU5[4] }
ble_pack uu2.r_addr_4_LC_4_10_4 { uu2.r_addr_RNO[4], uu2.r_addr[4] }
ble_pack uu2.r_addr_5_LC_4_10_5 { uu2.r_addr_RNO[5], uu2.r_addr[5] }
ble_pack uu2.vbuf_raddr.counter_gen_label_6__un437_ci_3_LC_4_10_6 { uu2.vbuf_raddr.counter_gen_label[6].un437_ci_3 }
clb_pack LT_4_10 { uu2.r_addr_2_LC_4_10_0, uu2.r_addr_1_LC_4_10_1, uu2.r_addr_0_LC_4_10_2, uu2.l_count_RNI88MU5_4_LC_4_10_3, uu2.r_addr_4_LC_4_10_4, uu2.r_addr_5_LC_4_10_5, uu2.vbuf_raddr.counter_gen_label_6__un437_ci_3_LC_4_10_6 }
set_location LT_4_10 4 10
ble_pack uu2.l_count_1_LC_4_11_0 { uu2.vbuf_count.result_1[1], uu2.l_count[1] }
ble_pack uu2.l_count_3_LC_4_11_1 { uu2.vbuf_count.result_1[3], uu2.l_count[3] }
ble_pack uu2.l_count_2_LC_4_11_2 { uu2.l_count_RNO[2], uu2.l_count[2] }
ble_pack uu2.l_count_0_LC_4_11_3 { uu2.l_count_RNO[0], uu2.l_count[0] }
ble_pack uu2.vbuf_count.counter_gen_label_4__un306_ci_LC_4_11_4 { uu2.vbuf_count.counter_gen_label[4].un306_ci }
ble_pack uu2.l_count_7_LC_4_11_5 { uu2.l_count_RNO[7], uu2.l_count[7] }
ble_pack uu2.vbuf_count.counter_gen_label_7__un339_ci_0_LC_4_11_6 { uu2.vbuf_count.counter_gen_label[7].un339_ci_0 }
ble_pack uu2.vbuf_raddr.counter_gen_label_4__un415_ci_LC_4_11_7 { uu2.vbuf_raddr.counter_gen_label[4].un415_ci }
clb_pack LT_4_11 { uu2.l_count_1_LC_4_11_0, uu2.l_count_3_LC_4_11_1, uu2.l_count_2_LC_4_11_2, uu2.l_count_0_LC_4_11_3, uu2.vbuf_count.counter_gen_label_4__un306_ci_LC_4_11_4, uu2.l_count_7_LC_4_11_5, uu2.vbuf_count.counter_gen_label_7__un339_ci_0_LC_4_11_6, uu2.vbuf_raddr.counter_gen_label_4__un415_ci_LC_4_11_7 }
set_location LT_4_11 4 11
ble_pack buart.Z_tx.shifter_6_LC_4_12_0 { buart.Z_tx.shifter_RNO[6], buart.Z_tx.shifter[6] }
ble_pack uu2.l_count_RNICDGK1_3_LC_4_12_1 { uu2.l_count_RNICDGK1[3] }
ble_pack uu2.l_count_RNI0NA44_4_LC_4_12_2 { uu2.l_count_RNI0NA44[4] }
ble_pack uu2.l_count_RNIQF5F5_4_LC_4_12_3 { uu2.l_count_RNIQF5F5[4] }
ble_pack uu2.l_count_RNI2U5E_10_LC_4_12_4 { uu2.l_count_RNI2U5E[10] }
ble_pack uu2.l_count_RNI89GK1_2_LC_4_12_5 { uu2.l_count_RNI89GK1[2] }
ble_pack buart.Z_tx.shifter_7_LC_4_12_6 { buart.Z_tx.shifter_RNO[7], buart.Z_tx.shifter[7] }
ble_pack buart.Z_tx.shifter_8_LC_4_12_7 { buart.Z_tx.shifter_RNO[8], buart.Z_tx.shifter[8] }
clb_pack LT_4_12 { buart.Z_tx.shifter_6_LC_4_12_0, uu2.l_count_RNICDGK1_3_LC_4_12_1, uu2.l_count_RNI0NA44_4_LC_4_12_2, uu2.l_count_RNIQF5F5_4_LC_4_12_3, uu2.l_count_RNI2U5E_10_LC_4_12_4, uu2.l_count_RNI89GK1_2_LC_4_12_5, buart.Z_tx.shifter_7_LC_4_12_6, buart.Z_tx.shifter_8_LC_4_12_7 }
set_location LT_4_12 4 12
ble_pack uu2.vbuf_count.counter_gen_label_10__un372_ci_LC_4_13_0 { uu2.vbuf_count.counter_gen_label[10].un372_ci }
ble_pack uu2.l_count_10_LC_4_13_1 { uu2.l_count_RNO[10], uu2.l_count[10] }
ble_pack uu2.l_count_8_LC_4_13_2 { uu2.vbuf_count.result_1[8], uu2.l_count[8] }
ble_pack uu2.vbuf_count.counter_gen_label_10__un372_ci_8_1_LC_4_13_3 { uu2.vbuf_count.counter_gen_label[10].un372_ci_8_1 }
ble_pack uu2.l_count_9_LC_4_13_4 { uu2.vbuf_count.result_1[9], uu2.l_count[9] }
ble_pack uu2.l_count_6_LC_4_13_5 { uu2.vbuf_count.result_1[6], uu2.l_count[6] }
ble_pack uu2.l_count_5_LC_4_13_6 { uu2.l_count_RNO[5], uu2.l_count[5] }
ble_pack uu2.l_count_4_LC_4_13_7 { uu2.l_count_RNO[4], uu2.l_count[4] }
clb_pack LT_4_13 { uu2.vbuf_count.counter_gen_label_10__un372_ci_LC_4_13_0, uu2.l_count_10_LC_4_13_1, uu2.l_count_8_LC_4_13_2, uu2.vbuf_count.counter_gen_label_10__un372_ci_8_1_LC_4_13_3, uu2.l_count_9_LC_4_13_4, uu2.l_count_6_LC_4_13_5, uu2.l_count_5_LC_4_13_6, uu2.l_count_4_LC_4_13_7 }
set_location LT_4_13 4 13
ble_pack Lab_UT.secuu0.l_count_RNI24E71_11_LC_5_4_0 { Lab_UT.secuu0.l_count_RNI24E71[11] }
ble_pack Lab_UT.secuu0.l_count_RNI8TM21_5_LC_5_4_4 { Lab_UT.secuu0.l_count_RNI8TM21[5] }
ble_pack Lab_UT.secuu0.l_count_RNI9GD02_18_LC_5_4_5 { Lab_UT.secuu0.l_count_RNI9GD02[18] }
ble_pack Lab_UT.secuu0.l_count_RNI82GM6_3_LC_5_4_6 { Lab_UT.secuu0.l_count_RNI82GM6[3] }
ble_pack Lab_UT.secuu0.delay_line_RNILBAI7_1_LC_5_4_7 { Lab_UT.secuu0.delay_line_RNILBAI7[1] }
clb_pack LT_5_4 { Lab_UT.secuu0.l_count_RNI24E71_11_LC_5_4_0, Lab_UT.secuu0.l_count_RNI8TM21_5_LC_5_4_4, Lab_UT.secuu0.l_count_RNI9GD02_18_LC_5_4_5, Lab_UT.secuu0.l_count_RNI82GM6_3_LC_5_4_6, Lab_UT.secuu0.delay_line_RNILBAI7_1_LC_5_4_7 }
set_location LT_5_4 5 4
ble_pack Lab_UT.secuu0.l_count_0_LC_5_5_1 { Lab_UT.secuu0.l_count_RNO[0], Lab_UT.secuu0.l_count[0] }
ble_pack Lab_UT.secuu0.l_count_11_LC_5_5_2 { Lab_UT.secuu0.l_count_RNO[11], Lab_UT.secuu0.l_count[11] }
ble_pack Lab_UT.secuu0.l_count_16_LC_5_5_3 { Lab_UT.secuu0.l_count_RNO[16], Lab_UT.secuu0.l_count[16] }
ble_pack Lab_UT.secuu0.l_count_17_LC_5_5_4 { Lab_UT.secuu0.vbuf_count_cntrl1.result_1[17], Lab_UT.secuu0.l_count[17] }
ble_pack Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_18__un263_ci_LC_5_5_5 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[18].un263_ci }
ble_pack Lab_UT.secuu0.l_count_18_LC_5_5_6 { Lab_UT.secuu0.l_count_RNO[18], Lab_UT.secuu0.l_count[18] }
ble_pack Lab_UT.secuu0.l_count_RNIRDS11_3_LC_5_5_7 { Lab_UT.secuu0.l_count_RNIRDS11[3] }
clb_pack LT_5_5 { Lab_UT.secuu0.l_count_0_LC_5_5_1, Lab_UT.secuu0.l_count_11_LC_5_5_2, Lab_UT.secuu0.l_count_16_LC_5_5_3, Lab_UT.secuu0.l_count_17_LC_5_5_4, Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_18__un263_ci_LC_5_5_5, Lab_UT.secuu0.l_count_18_LC_5_5_6, Lab_UT.secuu0.l_count_RNIRDS11_3_LC_5_5_7 }
set_location LT_5_5 5 5
ble_pack Lab_UT.secuu0.l_count_3_LC_5_6_0 { Lab_UT.secuu0.l_count_RNO[3], Lab_UT.secuu0.l_count[3] }
ble_pack Lab_UT.secuu0.l_count_1_LC_5_6_1 { Lab_UT.secuu0.vbuf_count_cntrl1.result_1[1], Lab_UT.secuu0.l_count[1] }
ble_pack Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_10__un175_ci_1_LC_5_6_2 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[10].un175_ci_1 }
ble_pack Lab_UT.secuu0.l_count_2_LC_5_6_3 { Lab_UT.secuu0.vbuf_count_cntrl1.result_1[2], Lab_UT.secuu0.l_count[2] }
ble_pack Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_10__un175_ci_6_LC_5_6_4 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[10].un175_ci_6 }
ble_pack Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_10__un175_ci_8_LC_5_6_5 { Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[10].un175_ci_8 }
ble_pack Lab_UT.secuu0.l_count_6_LC_5_6_6 { Lab_UT.secuu0.l_count_RNO[6], Lab_UT.secuu0.l_count[6] }
ble_pack Lab_UT.secuu0.l_count_7_LC_5_6_7 { Lab_UT.secuu0.l_count_RNO[7], Lab_UT.secuu0.l_count[7] }
clb_pack LT_5_6 { Lab_UT.secuu0.l_count_3_LC_5_6_0, Lab_UT.secuu0.l_count_1_LC_5_6_1, Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_10__un175_ci_1_LC_5_6_2, Lab_UT.secuu0.l_count_2_LC_5_6_3, Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_10__un175_ci_6_LC_5_6_4, Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label_10__un175_ci_8_LC_5_6_5, Lab_UT.secuu0.l_count_6_LC_5_6_6, Lab_UT.secuu0.l_count_7_LC_5_6_7 }
set_location LT_5_6 5 6
ble_pack resetGen.reset_count_2_LC_5_7_0 { resetGen.reset_count_RNO[2], resetGen.reset_count[2] }
ble_pack resetGen.reset_count_3_LC_5_7_1 { resetGen.reset_count_RNO[3], resetGen.reset_count[3] }
ble_pack resetGen.reset_count_0_LC_5_7_2 { resetGen.reset_count_RNO[0], resetGen.reset_count[0] }
ble_pack resetGen.un3_reset_count_i_a3_LC_5_7_3 { resetGen.un3_reset_count_i_a3 }
ble_pack resetGen.reset_count_1_LC_5_7_4 { resetGen.reset_count_RNO[1], resetGen.reset_count[1] }
ble_pack resetGen.reset_count_RNO_0_2_LC_5_7_5 { resetGen.reset_count_RNO_0[2] }
ble_pack resetGen.reset_count_RNITEEC1_2_LC_5_7_6 { resetGen.reset_count_RNITEEC1[2] }
ble_pack resetGen.reset_count_4_LC_5_7_7 { resetGen.reset_count_RNO[4], resetGen.reset_count[4] }
clb_pack LT_5_7 { resetGen.reset_count_2_LC_5_7_0, resetGen.reset_count_3_LC_5_7_1, resetGen.reset_count_0_LC_5_7_2, resetGen.un3_reset_count_i_a3_LC_5_7_3, resetGen.reset_count_1_LC_5_7_4, resetGen.reset_count_RNO_0_2_LC_5_7_5, resetGen.reset_count_RNITEEC1_2_LC_5_7_6, resetGen.reset_count_4_LC_5_7_7 }
set_location LT_5_7 5 7
ble_pack uu2.mem0.ram512X8_inst_RNO_44_LC_5_8_0 { uu2.mem0.ram512X8_inst_RNO_44 }
ble_pack uu2.mem0.ram512X8_inst_RNO_25_LC_5_8_1 { uu2.mem0.ram512X8_inst_RNO_25 }
ble_pack uu2.mem0.ram512X8_inst_RNO_40_LC_5_8_2 { uu2.mem0.ram512X8_inst_RNO_40 }
ble_pack uu2.mem0.ram512X8_inst_RNO_24_LC_5_8_3 { uu2.mem0.ram512X8_inst_RNO_24 }
ble_pack uu2.mem0.ram512X8_inst_RNO_52_LC_5_8_4 { uu2.mem0.ram512X8_inst_RNO_52 }
ble_pack uu2.mem0.ram512X8_inst_RNO_42_LC_5_8_5 { uu2.mem0.ram512X8_inst_RNO_42 }
ble_pack uu2.mem0.ram512X8_inst_RNO_48_LC_5_8_6 { uu2.mem0.ram512X8_inst_RNO_48 }
ble_pack uu2.mem0.ram512X8_inst_RNO_32_LC_5_8_7 { uu2.mem0.ram512X8_inst_RNO_32 }
clb_pack LT_5_8 { uu2.mem0.ram512X8_inst_RNO_44_LC_5_8_0, uu2.mem0.ram512X8_inst_RNO_25_LC_5_8_1, uu2.mem0.ram512X8_inst_RNO_40_LC_5_8_2, uu2.mem0.ram512X8_inst_RNO_24_LC_5_8_3, uu2.mem0.ram512X8_inst_RNO_52_LC_5_8_4, uu2.mem0.ram512X8_inst_RNO_42_LC_5_8_5, uu2.mem0.ram512X8_inst_RNO_48_LC_5_8_6, uu2.mem0.ram512X8_inst_RNO_32_LC_5_8_7 }
set_location LT_5_8 5 8
ble_pack uu2.mem0.ram512X8_inst_RNO_27_LC_5_9_0 { uu2.mem0.ram512X8_inst_RNO_27 }
ble_pack uu2.mem0.ram512X8_inst_RNO_60_LC_5_9_1 { uu2.mem0.ram512X8_inst_RNO_60 }
ble_pack uu2.mem0.ram512X8_inst_RNO_38_LC_5_9_2 { uu2.mem0.ram512X8_inst_RNO_38 }
ble_pack uu2.mem0.ram512X8_inst_RNO_59_LC_5_9_3 { uu2.mem0.ram512X8_inst_RNO_59 }
ble_pack uu2.mem0.ram512X8_inst_RNO_39_LC_5_9_4 { uu2.mem0.ram512X8_inst_RNO_39 }
ble_pack uu2.mem0.ram512X8_inst_RNO_53_LC_5_9_5 { uu2.mem0.ram512X8_inst_RNO_53 }
ble_pack Lab_UT.dictrluu0.dicfsm.cState_LC_5_9_7 { resetGen.rst_RNI4PQ1, Lab_UT.dictrluu0.dicfsm.cState }
clb_pack LT_5_9 { uu2.mem0.ram512X8_inst_RNO_27_LC_5_9_0, uu2.mem0.ram512X8_inst_RNO_60_LC_5_9_1, uu2.mem0.ram512X8_inst_RNO_38_LC_5_9_2, uu2.mem0.ram512X8_inst_RNO_59_LC_5_9_3, uu2.mem0.ram512X8_inst_RNO_39_LC_5_9_4, uu2.mem0.ram512X8_inst_RNO_53_LC_5_9_5, Lab_UT.dictrluu0.dicfsm.cState_LC_5_9_7 }
set_location LT_5_9 5 9
ble_pack buart.Z_rx.Z_baudgen.un5_counter_cry_1_c_LC_5_10_0 { buart.Z_rx.Z_baudgen.un5_counter_cry_1_c }
ble_pack buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0_LC_5_10_1 { buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0, buart.Z_rx.Z_baudgen.un5_counter_cry_2_c }
ble_pack buart.Z_rx.Z_baudgen.counter_3_LC_5_10_2 { buart.Z_rx.Z_baudgen.counter_RNO[3], buart.Z_rx.Z_baudgen.counter[3], buart.Z_rx.Z_baudgen.un5_counter_cry_3_c }
ble_pack buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0_LC_5_10_3 { buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0, buart.Z_rx.Z_baudgen.un5_counter_cry_4_c }
ble_pack buart.Z_rx.Z_baudgen.counter_5_LC_5_10_4 { buart.Z_rx.Z_baudgen.counter_RNO[5], buart.Z_rx.Z_baudgen.counter[5] }
ble_pack buart.Z_rx.bitcount_e_0_RNII0231_0_LC_5_10_5 { buart.Z_rx.bitcount_e_0_RNII0231[0] }
ble_pack buart.Z_rx.Z_baudgen.counter_4_LC_5_10_6 { buart.Z_rx.Z_baudgen.counter_RNO[4], buart.Z_rx.Z_baudgen.counter[4] }
ble_pack uu2.mem0.ram512X8_inst_RNO_37_LC_5_10_7 { uu2.mem0.ram512X8_inst_RNO_37 }
clb_pack LT_5_10 { buart.Z_rx.Z_baudgen.un5_counter_cry_1_c_LC_5_10_0, buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0_LC_5_10_1, buart.Z_rx.Z_baudgen.counter_3_LC_5_10_2, buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0_LC_5_10_3, buart.Z_rx.Z_baudgen.counter_5_LC_5_10_4, buart.Z_rx.bitcount_e_0_RNII0231_0_LC_5_10_5, buart.Z_rx.Z_baudgen.counter_4_LC_5_10_6, uu2.mem0.ram512X8_inst_RNO_37_LC_5_10_7 }
set_location LT_5_10 5 10
ble_pack buart.Z_rx.Z_baudgen.counter_0_LC_5_11_0 { buart.Z_rx.Z_baudgen.counter_RNO[0], buart.Z_rx.Z_baudgen.counter[0] }
ble_pack buart.Z_rx.hh_RNIVHME_0_LC_5_11_1 { buart.Z_rx.hh_RNIVHME[0] }
ble_pack buart.Z_rx.Z_baudgen.counter_1_LC_5_11_2 { buart.Z_rx.Z_baudgen.counter_RNO[1], buart.Z_rx.Z_baudgen.counter[1] }
ble_pack buart.Z_rx.hh_1_LC_5_11_3 { buart.Z_rx.hh_1_THRU_LUT4_0, buart.Z_rx.hh[1] }
ble_pack buart.Z_rx.Z_baudgen.counter_RNI5JE3_5_LC_5_11_5 { buart.Z_rx.Z_baudgen.counter_RNI5JE3[5] }
ble_pack buart.Z_rx.Z_baudgen.counter_RNI3O55_2_LC_5_11_6 { buart.Z_rx.Z_baudgen.counter_RNI3O55[2] }
ble_pack buart.Z_rx.Z_baudgen.counter_2_LC_5_11_7 { buart.Z_rx.Z_baudgen.counter_RNO[2], buart.Z_rx.Z_baudgen.counter[2] }
clb_pack LT_5_11 { buart.Z_rx.Z_baudgen.counter_0_LC_5_11_0, buart.Z_rx.hh_RNIVHME_0_LC_5_11_1, buart.Z_rx.Z_baudgen.counter_1_LC_5_11_2, buart.Z_rx.hh_1_LC_5_11_3, buart.Z_rx.Z_baudgen.counter_RNI5JE3_5_LC_5_11_5, buart.Z_rx.Z_baudgen.counter_RNI3O55_2_LC_5_11_6, buart.Z_rx.Z_baudgen.counter_2_LC_5_11_7 }
set_location LT_5_11 5 11
ble_pack uu2.r_data_reg_esr_0_LC_5_12_0 { uu2.r_data_reg_esr_0_THRU_LUT4_0, uu2.r_data_reg_esr[0] }
ble_pack uu2.r_data_reg_esr_1_LC_5_12_1 { uu2.r_data_reg_esr_1_THRU_LUT4_0, uu2.r_data_reg_esr[1] }
ble_pack uu2.r_data_reg_esr_2_LC_5_12_2 { uu2.r_data_reg_esr_2_THRU_LUT4_0, uu2.r_data_reg_esr[2] }
ble_pack uu2.r_data_reg_esr_3_LC_5_12_3 { uu2.r_data_reg_esr_3_THRU_LUT4_0, uu2.r_data_reg_esr[3] }
ble_pack uu2.r_data_reg_esr_4_LC_5_12_4 { uu2.r_data_reg_esr_4_THRU_LUT4_0, uu2.r_data_reg_esr[4] }
ble_pack uu2.r_data_reg_esr_5_LC_5_12_5 { uu2.r_data_reg_esr_5_THRU_LUT4_0, uu2.r_data_reg_esr[5] }
ble_pack uu2.r_data_reg_esr_6_LC_5_12_6 { uu2.r_data_reg_esr_6_THRU_LUT4_0, uu2.r_data_reg_esr[6] }
ble_pack uu2.r_data_reg_esr_7_LC_5_12_7 { uu2.r_data_reg_esr_7_THRU_LUT4_0, uu2.r_data_reg_esr[7] }
clb_pack LT_5_12 { uu2.r_data_reg_esr_0_LC_5_12_0, uu2.r_data_reg_esr_1_LC_5_12_1, uu2.r_data_reg_esr_2_LC_5_12_2, uu2.r_data_reg_esr_3_LC_5_12_3, uu2.r_data_reg_esr_4_LC_5_12_4, uu2.r_data_reg_esr_5_LC_5_12_5, uu2.r_data_reg_esr_6_LC_5_12_6, uu2.r_data_reg_esr_7_LC_5_12_7 }
set_location LT_5_12 5 12
ble_pack buart.Z_tx.shifter_4_LC_5_13_0 { buart.Z_tx.shifter_RNO[4], buart.Z_tx.shifter[4] }
ble_pack buart.Z_tx.shifter_5_LC_5_13_1 { buart.Z_tx.shifter_RNO[5], buart.Z_tx.shifter[5] }
ble_pack buart.Z_tx.shifter_3_LC_5_13_2 { buart.Z_tx.shifter_RNO[3], buart.Z_tx.shifter[3] }
ble_pack buart.Z_tx.shifter_0_LC_5_13_5 { buart.Z_tx.shifter_RNO[0], buart.Z_tx.shifter[0] }
ble_pack buart.Z_tx.uart_tx_LC_5_13_6 { buart.Z_tx.uart_tx_RNO, buart.Z_tx.uart_tx }
clb_pack LT_5_13 { buart.Z_tx.shifter_4_LC_5_13_0, buart.Z_tx.shifter_5_LC_5_13_1, buart.Z_tx.shifter_3_LC_5_13_2, buart.Z_tx.shifter_0_LC_5_13_5, buart.Z_tx.uart_tx_LC_5_13_6 }
set_location LT_5_13 5 13
ble_pack CONSTANT_ONE_LUT4_LC_6_3_5 { CONSTANT_ONE_LUT4 }
clb_pack LT_6_3 { CONSTANT_ONE_LUT4_LC_6_3_5 }
set_location LT_6_3 6 3
ble_pack buart.Z_rx.bitcount_cry_c_0_LC_6_5_0 { buart.Z_rx.bitcount_cry_c[0] }
ble_pack buart.Z_rx.bitcount_cry_0_THRU_LUT4_0_LC_6_5_1 { buart.Z_rx.bitcount_cry_0_THRU_LUT4_0, buart.Z_rx.bitcount_cry_c[1] }
ble_pack buart.Z_rx.bitcount_cry_1_THRU_LUT4_0_LC_6_5_2 { buart.Z_rx.bitcount_cry_1_THRU_LUT4_0, buart.Z_rx.bitcount_cry_c[2] }
ble_pack buart.Z_rx.bitcount_cry_2_THRU_LUT4_0_LC_6_5_3 { buart.Z_rx.bitcount_cry_2_THRU_LUT4_0, buart.Z_rx.bitcount_cry_c[3] }
ble_pack buart.Z_rx.bitcount_e_0_4_LC_6_5_4 { buart.Z_rx.bitcount_e_0_RNO[4], buart.Z_rx.bitcount_e_0[4] }
clb_pack LT_6_5 { buart.Z_rx.bitcount_cry_c_0_LC_6_5_0, buart.Z_rx.bitcount_cry_0_THRU_LUT4_0_LC_6_5_1, buart.Z_rx.bitcount_cry_1_THRU_LUT4_0_LC_6_5_2, buart.Z_rx.bitcount_cry_2_THRU_LUT4_0_LC_6_5_3, buart.Z_rx.bitcount_e_0_4_LC_6_5_4 }
set_location LT_6_5 6 5
ble_pack buart.Z_rx.bitcount_e_0_0_LC_6_6_1 { buart.Z_rx.bitcount_e_0_RNO[0], buart.Z_rx.bitcount_e_0[0] }
ble_pack buart.Z_rx.bitcount_e_0_3_LC_6_6_2 { buart.Z_rx.bitcount_e_0_RNO[3], buart.Z_rx.bitcount_e_0[3] }
ble_pack buart.Z_rx.bitcount_e_0_2_LC_6_6_3 { buart.Z_rx.bitcount_e_0_RNO[2], buart.Z_rx.bitcount_e_0[2] }
ble_pack uu2.mem0.ram512X8_inst_RNO_15_LC_6_6_5 { uu2.mem0.ram512X8_inst_RNO_15 }
clb_pack LT_6_6 { buart.Z_rx.bitcount_e_0_0_LC_6_6_1, buart.Z_rx.bitcount_e_0_3_LC_6_6_2, buart.Z_rx.bitcount_e_0_2_LC_6_6_3, uu2.mem0.ram512X8_inst_RNO_15_LC_6_6_5 }
set_location LT_6_6 6 6
ble_pack buart.Z_rx.bitcount_e_0_RNI2B26_4_LC_6_7_0 { buart.Z_rx.bitcount_e_0_RNI2B26[4] }
ble_pack buart.Z_rx.bitcount_e_0_RNIBJOC_0_LC_6_7_1 { buart.Z_rx.bitcount_e_0_RNIBJOC[0] }
ble_pack buart.Z_rx.bitcount_e_0_RNI8RI7_0_0_LC_6_7_2 { buart.Z_rx.bitcount_e_0_RNI8RI7_0[0] }
ble_pack resetGen.un3_reset_count_i_a3_7_LC_6_7_3 { resetGen.un3_reset_count_i_a3_7 }
ble_pack buart.Z_rx.bitcount_e_0_RNIH513_4_LC_6_7_4 { buart.Z_rx.bitcount_e_0_RNIH513[4] }
ble_pack buart.Z_rx.bitcount_e_0_RNI8RI7_0_LC_6_7_5 { buart.Z_rx.bitcount_e_0_RNI8RI7[0] }
ble_pack buart.Z_rx.bitcount_e_0_RNIGM5F_0_LC_6_7_6 { buart.Z_rx.bitcount_e_0_RNIGM5F[0] }
ble_pack buart.Z_rx.bitcount_e_0_1_LC_6_7_7 { buart.Z_rx.bitcount_e_0_RNO[1], buart.Z_rx.bitcount_e_0[1] }
clb_pack LT_6_7 { buart.Z_rx.bitcount_e_0_RNI2B26_4_LC_6_7_0, buart.Z_rx.bitcount_e_0_RNIBJOC_0_LC_6_7_1, buart.Z_rx.bitcount_e_0_RNI8RI7_0_0_LC_6_7_2, resetGen.un3_reset_count_i_a3_7_LC_6_7_3, buart.Z_rx.bitcount_e_0_RNIH513_4_LC_6_7_4, buart.Z_rx.bitcount_e_0_RNI8RI7_0_LC_6_7_5, buart.Z_rx.bitcount_e_0_RNIGM5F_0_LC_6_7_6, buart.Z_rx.bitcount_e_0_1_LC_6_7_7 }
set_location LT_6_7 6 7
ble_pack uu2.w_addr_displaying_RNIAPHB1_5_LC_6_8_0 { uu2.w_addr_displaying_RNIAPHB1[5] }
ble_pack uu2.mem0.ram512X8_inst_RNO_14_LC_6_8_1 { uu2.mem0.ram512X8_inst_RNO_14 }
ble_pack uu2.mem0.ram512X8_inst_RNO_17_LC_6_8_2 { uu2.mem0.ram512X8_inst_RNO_17 }
ble_pack uu2.mem0.ram512X8_inst_RNO_13_LC_6_8_3 { uu2.mem0.ram512X8_inst_RNO_13 }
ble_pack uu2.mem0.ram512X8_inst_RNO_18_LC_6_8_4 { uu2.mem0.ram512X8_inst_RNO_18 }
ble_pack uu2.mem0.ram512X8_inst_RNO_8_LC_6_8_5 { uu2.mem0.ram512X8_inst_RNO_8 }
ble_pack uu2.w_addr_displaying_5_LC_6_8_6 { uu2.w_addr_displaying_RNO[5], uu2.w_addr_displaying[5] }
ble_pack uu2.w_addr_displaying_4_LC_6_8_7 { uu2.w_addr_displaying_RNO[4], uu2.w_addr_displaying[4] }
clb_pack LT_6_8 { uu2.w_addr_displaying_RNIAPHB1_5_LC_6_8_0, uu2.mem0.ram512X8_inst_RNO_14_LC_6_8_1, uu2.mem0.ram512X8_inst_RNO_17_LC_6_8_2, uu2.mem0.ram512X8_inst_RNO_13_LC_6_8_3, uu2.mem0.ram512X8_inst_RNO_18_LC_6_8_4, uu2.mem0.ram512X8_inst_RNO_8_LC_6_8_5, uu2.w_addr_displaying_5_LC_6_8_6, uu2.w_addr_displaying_4_LC_6_8_7 }
set_location LT_6_8 6 8
ble_pack uu2.mem0.ram512X8_inst_RNO_10_LC_6_9_0 { uu2.mem0.ram512X8_inst_RNO_10 }
ble_pack uu2.un1_w_user_cr_0_LC_6_9_1 { uu2.un1_w_user_cr_0 }
ble_pack uu2.vram_wr_en_0_i_LC_6_9_2 { uu2.vram_wr_en_0_i }
ble_pack Lab_UT.dspStr.rdy_LC_6_9_3 { Lab_UT.dspStr.rdy_THRU_LUT4_0, Lab_UT.dspStr.rdy }
ble_pack uu2.mem0.ram512X8_inst_RNO_34_LC_6_9_4 { uu2.mem0.ram512X8_inst_RNO_34 }
ble_pack uu2.mem0.ram512X8_inst_RNO_20_LC_6_9_5 { uu2.mem0.ram512X8_inst_RNO_20 }
ble_pack uu2.mem0.ram512X8_inst_RNO_11_LC_6_9_6 { uu2.mem0.ram512X8_inst_RNO_11 }
ble_pack uu2.mem0.ram512X8_inst_RNO_35_LC_6_9_7 { uu2.mem0.ram512X8_inst_RNO_35 }
clb_pack LT_6_9 { uu2.mem0.ram512X8_inst_RNO_10_LC_6_9_0, uu2.un1_w_user_cr_0_LC_6_9_1, uu2.vram_wr_en_0_i_LC_6_9_2, Lab_UT.dspStr.rdy_LC_6_9_3, uu2.mem0.ram512X8_inst_RNO_34_LC_6_9_4, uu2.mem0.ram512X8_inst_RNO_20_LC_6_9_5, uu2.mem0.ram512X8_inst_RNO_11_LC_6_9_6, uu2.mem0.ram512X8_inst_RNO_35_LC_6_9_7 }
set_location LT_6_9 6 9
ble_pack uu2.mem0.ram512X8_inst_RNO_21_LC_6_10_0 { uu2.mem0.ram512X8_inst_RNO_21 }
ble_pack uu2.mem0.ram512X8_inst_RNO_22_LC_6_10_1 { uu2.mem0.ram512X8_inst_RNO_22 }
ble_pack uu2.w_addr_displaying_0_rep1_RNI56RN_LC_6_10_2 { uu2.w_addr_displaying_0_rep1_RNI56RN }
ble_pack uu2.mem0.ram512X8_inst_RNO_41_LC_6_10_3 { uu2.mem0.ram512X8_inst_RNO_41 }
ble_pack uu2.mem0.ram512X8_inst_RNO_16_LC_6_10_4 { uu2.mem0.ram512X8_inst_RNO_16 }
ble_pack Lab_UT.didpuu0.g0_LC_6_10_5 { Lab_UT.didpuu0.g0 }
ble_pack uu2.mem0.ram512X8_inst_RNO_56_LC_6_10_6 { uu2.mem0.ram512X8_inst_RNO_56 }
ble_pack uu2.mem0.ram512X8_inst_RNO_58_LC_6_10_7 { uu2.mem0.ram512X8_inst_RNO_58 }
clb_pack LT_6_10 { uu2.mem0.ram512X8_inst_RNO_21_LC_6_10_0, uu2.mem0.ram512X8_inst_RNO_22_LC_6_10_1, uu2.w_addr_displaying_0_rep1_RNI56RN_LC_6_10_2, uu2.mem0.ram512X8_inst_RNO_41_LC_6_10_3, uu2.mem0.ram512X8_inst_RNO_16_LC_6_10_4, Lab_UT.didpuu0.g0_LC_6_10_5, uu2.mem0.ram512X8_inst_RNO_56_LC_6_10_6, uu2.mem0.ram512X8_inst_RNO_58_LC_6_10_7 }
set_location LT_6_10 6 10
ble_pack uu2.mem0.ram512X8_inst_RNO_30_LC_6_11_0 { uu2.mem0.ram512X8_inst_RNO_30 }
ble_pack uu2.vbuf_w_addr_displaying.result_1_rep1_8_LC_6_11_1 { uu2.vbuf_w_addr_displaying.result_1_rep1[8] }
ble_pack uu2.w_addr_displaying_8_rep1_LC_6_11_2 { uu2.w_addr_displaying_8_rep1_RNO, uu2.w_addr_displaying_8_rep1 }
ble_pack uu2.w_addr_displaying_8_rep1_RNIN6OC_LC_6_11_3 { uu2.w_addr_displaying_8_rep1_RNIN6OC }
ble_pack uu2.w_addr_displaying_RNI8V6F2_3_LC_6_11_4 { uu2.w_addr_displaying_RNI8V6F2[3] }
ble_pack uu2.w_addr_displaying_7_rep1_LC_6_11_5 { uu2.w_addr_displaying_7_rep1_RNO, uu2.w_addr_displaying_7_rep1 }
ble_pack uu2.w_addr_displaying_4_rep1_RNI65VM_LC_6_11_6 { uu2.w_addr_displaying_4_rep1_RNI65VM }
ble_pack uu2.w_addr_displaying_4_rep1_LC_6_11_7 { uu2.w_addr_displaying_4_rep1_RNO, uu2.w_addr_displaying_4_rep1 }
clb_pack LT_6_11 { uu2.mem0.ram512X8_inst_RNO_30_LC_6_11_0, uu2.vbuf_w_addr_displaying.result_1_rep1_8_LC_6_11_1, uu2.w_addr_displaying_8_rep1_LC_6_11_2, uu2.w_addr_displaying_8_rep1_RNIN6OC_LC_6_11_3, uu2.w_addr_displaying_RNI8V6F2_3_LC_6_11_4, uu2.w_addr_displaying_7_rep1_LC_6_11_5, uu2.w_addr_displaying_4_rep1_RNI65VM_LC_6_11_6, uu2.w_addr_displaying_4_rep1_LC_6_11_7 }
set_location LT_6_11 6 11
ble_pack buart.Z_rx.shifter_7_LC_6_12_0 { buart.Z_rx.shifter_7_THRU_LUT4_0, buart.Z_rx.shifter[7] }
clb_pack LT_6_12 { buart.Z_rx.shifter_7_LC_6_12_0 }
set_location LT_6_12 6 12
ble_pack buart.Z_tx.shifter_1_LC_6_13_0 { buart.Z_tx.shifter_RNO[1], buart.Z_tx.shifter[1] }
ble_pack buart.Z_tx.shifter_2_LC_6_13_4 { buart.Z_tx.shifter_RNO[2], buart.Z_tx.shifter[2] }
clb_pack LT_6_13 { buart.Z_tx.shifter_1_LC_6_13_0, buart.Z_tx.shifter_2_LC_6_13_4 }
set_location LT_6_13 6 13
ble_pack uu2.vbuf_w_addr_user.counter_gen_label_4__un415_ci_LC_7_5_0 { uu2.vbuf_w_addr_user.counter_gen_label[4].un415_ci }
ble_pack uu2.w_addr_user_2_LC_7_5_1 { uu2.w_addr_user_RNO[2], uu2.w_addr_user[2] }
ble_pack uu2.vbuf_w_addr_user.result_1_3_LC_7_5_2 { uu2.vbuf_w_addr_user.result_1[3] }
ble_pack uu2.w_addr_user_3_LC_7_5_3 { uu2.w_addr_user_RNO[3], uu2.w_addr_user[3] }
ble_pack uu2.w_addr_user_RNIDD1A_5_LC_7_5_6 { uu2.w_addr_user_RNIDD1A[5] }
ble_pack uu2.w_addr_userZ0Z_1_LC_7_5_7 { uu2.w_addr_user_RNO[1], uu2.w_addr_user[1] }
clb_pack LT_7_5 { uu2.vbuf_w_addr_user.counter_gen_label_4__un415_ci_LC_7_5_0, uu2.w_addr_user_2_LC_7_5_1, uu2.vbuf_w_addr_user.result_1_3_LC_7_5_2, uu2.w_addr_user_3_LC_7_5_3, uu2.w_addr_user_RNIDD1A_5_LC_7_5_6, uu2.w_addr_userZ0Z_1_LC_7_5_7 }
set_location LT_7_5 7 5
ble_pack uu2.vbuf_w_addr_user.result_1_7_LC_7_6_0 { uu2.vbuf_w_addr_user.result_1[7] }
ble_pack uu2.w_addr_user_7_LC_7_6_1 { uu2.w_addr_user_RNO[7], uu2.w_addr_user[7] }
ble_pack uu2.w_addr_user_6_LC_7_6_2 { uu2.w_addr_user_RNO[6], uu2.w_addr_user[6] }
ble_pack uu2.mem0.ram512X8_inst_RNO_6_LC_7_6_4 { uu2.mem0.ram512X8_inst_RNO_6 }
ble_pack uu2.vbuf_w_addr_user.counter_gen_label_8__un459_ci_0_LC_7_6_5 { uu2.vbuf_w_addr_user.counter_gen_label[8].un459_ci_0 }
ble_pack uu2.vbuf_w_addr_user.result_1_8_LC_7_6_6 { uu2.vbuf_w_addr_user.result_1[8] }
ble_pack uu2.w_addr_user_8_LC_7_6_7 { uu2.w_addr_user_RNO[8], uu2.w_addr_user[8] }
clb_pack LT_7_6 { uu2.vbuf_w_addr_user.result_1_7_LC_7_6_0, uu2.w_addr_user_7_LC_7_6_1, uu2.w_addr_user_6_LC_7_6_2, uu2.mem0.ram512X8_inst_RNO_6_LC_7_6_4, uu2.vbuf_w_addr_user.counter_gen_label_8__un459_ci_0_LC_7_6_5, uu2.vbuf_w_addr_user.result_1_8_LC_7_6_6, uu2.w_addr_user_8_LC_7_6_7 }
set_location LT_7_6 7 6
ble_pack uu2.vbuf_w_addr_user.counter_gen_label_6__un437_ci_3_LC_7_7_0 { uu2.vbuf_w_addr_user.counter_gen_label[6].un437_ci_3 }
ble_pack uu2.w_addr_user_RNIKCH7_8_LC_7_7_1 { uu2.w_addr_user_RNIKCH7[8] }
ble_pack uu2.w_addr_user_RNIDMJM_4_LC_7_7_2 { uu2.w_addr_user_RNIDMJM[4] }
ble_pack uu2.vbuf_w_addr_displaying.counter_gen_label_7__un448_ci_5_LC_7_7_3 { uu2.vbuf_w_addr_displaying.counter_gen_label[7].un448_ci_5 }
ble_pack uu2.w_addr_displaying_8_rep1_RNI5LHP1_LC_7_7_4 { uu2.w_addr_displaying_8_rep1_RNI5LHP1 }
ble_pack uu2.w_addr_user_5_LC_7_7_5 { uu2.w_addr_user_RNO[5], uu2.w_addr_user[5] }
ble_pack uu2.w_addr_user_4_LC_7_7_6 { uu2.w_addr_user_RNO[4], uu2.w_addr_user[4] }
ble_pack uu2.mem0.ram512X8_inst_RNO_3_LC_7_7_7 { uu2.mem0.ram512X8_inst_RNO_3 }
clb_pack LT_7_7 { uu2.vbuf_w_addr_user.counter_gen_label_6__un437_ci_3_LC_7_7_0, uu2.w_addr_user_RNIKCH7_8_LC_7_7_1, uu2.w_addr_user_RNIDMJM_4_LC_7_7_2, uu2.vbuf_w_addr_displaying.counter_gen_label_7__un448_ci_5_LC_7_7_3, uu2.w_addr_displaying_8_rep1_RNI5LHP1_LC_7_7_4, uu2.w_addr_user_5_LC_7_7_5, uu2.w_addr_user_4_LC_7_7_6, uu2.mem0.ram512X8_inst_RNO_3_LC_7_7_7 }
set_location LT_7_7 7 7
ble_pack uu2.mem0.ram512X8_inst_RNO_64_LC_7_8_0 { uu2.mem0.ram512X8_inst_RNO_64 }
ble_pack uu2.mem0.ram512X8_inst_RNO_46_LC_7_8_1 { uu2.mem0.ram512X8_inst_RNO_46 }
ble_pack uu2.mem0.ram512X8_inst_RNO_26_LC_7_8_2 { uu2.mem0.ram512X8_inst_RNO_26 }
ble_pack uu2.w_addr_displaying_5_rep1_LC_7_8_3 { uu2.w_addr_displaying_5_rep1_RNO, uu2.w_addr_displaying_5_rep1 }
ble_pack uu2.w_addr_displaying_6_rep1_RNI6D891_LC_7_8_4 { uu2.w_addr_displaying_6_rep1_RNI6D891 }
ble_pack uu2.w_addr_displaying_RNIRTT92_8_LC_7_8_5 { uu2.w_addr_displaying_RNIRTT92[8] }
ble_pack uu2.w_addr_displaying_3_LC_7_8_6 { uu2.w_addr_displaying_RNO[3], uu2.w_addr_displaying[3] }
ble_pack uu2.w_addr_displaying_6_rep1_LC_7_8_7 { uu2.w_addr_displaying_6_rep1_RNO, uu2.w_addr_displaying_6_rep1 }
clb_pack LT_7_8 { uu2.mem0.ram512X8_inst_RNO_64_LC_7_8_0, uu2.mem0.ram512X8_inst_RNO_46_LC_7_8_1, uu2.mem0.ram512X8_inst_RNO_26_LC_7_8_2, uu2.w_addr_displaying_5_rep1_LC_7_8_3, uu2.w_addr_displaying_6_rep1_RNI6D891_LC_7_8_4, uu2.w_addr_displaying_RNIRTT92_8_LC_7_8_5, uu2.w_addr_displaying_3_LC_7_8_6, uu2.w_addr_displaying_6_rep1_LC_7_8_7 }
set_location LT_7_8 7 8
ble_pack uu2.w_addr_displaying_RNI2AJ42_5_LC_7_9_2 { uu2.w_addr_displaying_RNI2AJ42[5] }
ble_pack uu2.w_addr_displaying_2_rep1_LC_7_9_4 { uu2.w_addr_displaying_2_rep1_RNO, uu2.w_addr_displaying_2_rep1 }
ble_pack uu2.w_addr_displaying_2_LC_7_9_5 { uu2.w_addr_displaying_RNO[2], uu2.w_addr_displaying[2] }
ble_pack uu2.w_addr_displaying_RNIUCHB1_2_LC_7_9_6 { uu2.w_addr_displaying_RNIUCHB1[2] }
ble_pack uu2.w_addr_displaying_1_LC_7_9_7 { uu2.w_addr_displaying_RNO[1], uu2.w_addr_displaying[1] }
clb_pack LT_7_9 { uu2.w_addr_displaying_RNI2AJ42_5_LC_7_9_2, uu2.w_addr_displaying_2_rep1_LC_7_9_4, uu2.w_addr_displaying_2_LC_7_9_5, uu2.w_addr_displaying_RNIUCHB1_2_LC_7_9_6, uu2.w_addr_displaying_1_LC_7_9_7 }
set_location LT_7_9 7 9
ble_pack uu2.w_addr_displaying_6_rep1_RNIAP701_LC_7_10_0 { uu2.w_addr_displaying_6_rep1_RNIAP701 }
ble_pack uu2.mem0.ram512X8_inst_RNO_50_LC_7_10_1 { uu2.mem0.ram512X8_inst_RNO_50 }
ble_pack uu2.mem0.ram512X8_inst_RNO_28_LC_7_10_2 { uu2.mem0.ram512X8_inst_RNO_28 }
ble_pack uu2.mem0.ram512X8_inst_RNO_51_LC_7_10_3 { uu2.mem0.ram512X8_inst_RNO_51 }
ble_pack uu2.mem0.ram512X8_inst_RNO_29_LC_7_10_4 { uu2.mem0.ram512X8_inst_RNO_29 }
ble_pack uu2.w_addr_displaying_fast_RNI7RCN_4_LC_7_10_5 { uu2.w_addr_displaying_fast_RNI7RCN[4] }
ble_pack uu2.mem0.ram512X8_inst_RNO_49_LC_7_10_6 { uu2.mem0.ram512X8_inst_RNO_49 }
ble_pack uu2.w_addr_displaying_0_rep1_LC_7_10_7 { uu2.w_addr_displaying_0_rep1_RNO, uu2.w_addr_displaying_0_rep1 }
clb_pack LT_7_10 { uu2.w_addr_displaying_6_rep1_RNIAP701_LC_7_10_0, uu2.mem0.ram512X8_inst_RNO_50_LC_7_10_1, uu2.mem0.ram512X8_inst_RNO_28_LC_7_10_2, uu2.mem0.ram512X8_inst_RNO_51_LC_7_10_3, uu2.mem0.ram512X8_inst_RNO_29_LC_7_10_4, uu2.w_addr_displaying_fast_RNI7RCN_4_LC_7_10_5, uu2.mem0.ram512X8_inst_RNO_49_LC_7_10_6, uu2.w_addr_displaying_0_rep1_LC_7_10_7 }
set_location LT_7_10 7 10
ble_pack uu2.mem0.ram512X8_inst_RNO_47_LC_7_11_0 { uu2.mem0.ram512X8_inst_RNO_47 }
ble_pack uu2.vbuf_w_addr_displaying.result_1_rep1_3_LC_7_11_1 { uu2.vbuf_w_addr_displaying.result_1_rep1[3] }
ble_pack uu2.w_addr_displaying_3_rep1_LC_7_11_2 { uu2.w_addr_displaying_3_rep1_RNO, uu2.w_addr_displaying_3_rep1 }
ble_pack uu2.w_addr_displaying_1_rep1_LC_7_11_3 { uu2.w_addr_displaying_1_rep1_RNO, uu2.w_addr_displaying_1_rep1 }
ble_pack uu2.w_addr_displaying_fast_2_LC_7_11_4 { uu2.w_addr_displaying_fast_RNO[2], uu2.w_addr_displaying_fast[2] }
ble_pack uu2.mem0.ram512X8_inst_RNO_66_LC_7_11_5 { uu2.mem0.ram512X8_inst_RNO_66 }
ble_pack uu2.w_addr_displaying_fast_4_LC_7_11_6 { uu2.w_addr_displaying_fast_RNO[4], uu2.w_addr_displaying_fast[4] }
clb_pack LT_7_11 { uu2.mem0.ram512X8_inst_RNO_47_LC_7_11_0, uu2.vbuf_w_addr_displaying.result_1_rep1_3_LC_7_11_1, uu2.w_addr_displaying_3_rep1_LC_7_11_2, uu2.w_addr_displaying_1_rep1_LC_7_11_3, uu2.w_addr_displaying_fast_2_LC_7_11_4, uu2.mem0.ram512X8_inst_RNO_66_LC_7_11_5, uu2.w_addr_displaying_fast_4_LC_7_11_6 }
set_location LT_7_11 7 11
ble_pack uu2.mem0.ram512X8_inst_RNO_71_LC_7_12_0 { uu2.mem0.ram512X8_inst_RNO_71 }
ble_pack Lab_UT.didpuu0.didpsones.q_RNIUTLC1_2_LC_7_12_1 { Lab_UT.didpuu0.didpsones.q_RNIUTLC1[2] }
ble_pack Lab_UT.didpuu0.didpsones.q_2_LC_7_12_2 { Lab_UT.didpuu0.didpsones.q_RNO[2], Lab_UT.didpuu0.didpsones.q[2] }
ble_pack uu2.g0_3_0_LC_7_12_7 { uu2.g0_3_0 }
clb_pack LT_7_12 { uu2.mem0.ram512X8_inst_RNO_71_LC_7_12_0, Lab_UT.didpuu0.didpsones.q_RNIUTLC1_2_LC_7_12_1, Lab_UT.didpuu0.didpsones.q_2_LC_7_12_2, uu2.g0_3_0_LC_7_12_7 }
set_location LT_7_12 7 12
ble_pack buart.Z_tx.Z_baudgen.counter_1_LC_7_13_0 { buart.Z_tx.Z_baudgen.counter_RNO[1], buart.Z_tx.Z_baudgen.counter[1] }
ble_pack buart.Z_tx.Z_baudgen.counter_0_LC_7_13_1 { buart.Z_tx.Z_baudgen.counter_RNO[0], buart.Z_tx.Z_baudgen.counter[0] }
ble_pack buart.Z_tx.un1_bitcount_cry_0_c_RNO_LC_7_13_3 { buart.Z_tx.un1_bitcount_cry_0_c_RNO }
ble_pack buart.Z_tx.Z_baudgen.counter_RNIV5CT5_1_LC_7_13_4 { buart.Z_tx.Z_baudgen.counter_RNIV5CT5[1] }
ble_pack buart.Z_tx.bitcount_1_LC_7_13_6 { buart.Z_tx.bitcount_RNO[1], buart.Z_tx.bitcount[1] }
ble_pack buart.Z_tx.bitcount_0_LC_7_13_7 { buart.Z_tx.bitcount_RNO[0], buart.Z_tx.bitcount[0] }
clb_pack LT_7_13 { buart.Z_tx.Z_baudgen.counter_1_LC_7_13_0, buart.Z_tx.Z_baudgen.counter_0_LC_7_13_1, buart.Z_tx.un1_bitcount_cry_0_c_RNO_LC_7_13_3, buart.Z_tx.Z_baudgen.counter_RNIV5CT5_1_LC_7_13_4, buart.Z_tx.bitcount_1_LC_7_13_6, buart.Z_tx.bitcount_0_LC_7_13_7 }
set_location LT_7_13 7 13
ble_pack buart.Z_tx.Z_baudgen.un2_counter_cry_1_c_LC_7_14_0 { buart.Z_tx.Z_baudgen.un2_counter_cry_1_c }
ble_pack buart.Z_tx.Z_baudgen.counter_2_LC_7_14_1 { buart.Z_tx.Z_baudgen.counter_RNO[2], buart.Z_tx.Z_baudgen.counter[2], buart.Z_tx.Z_baudgen.un2_counter_cry_2_c }
ble_pack buart.Z_tx.Z_baudgen.counter_3_LC_7_14_2 { buart.Z_tx.Z_baudgen.counter_RNO[3], buart.Z_tx.Z_baudgen.counter[3], buart.Z_tx.Z_baudgen.un2_counter_cry_3_c }
ble_pack buart.Z_tx.Z_baudgen.counter_4_LC_7_14_3 { buart.Z_tx.Z_baudgen.counter_RNO[4], buart.Z_tx.Z_baudgen.counter[4], buart.Z_tx.Z_baudgen.un2_counter_cry_4_c }
ble_pack buart.Z_tx.Z_baudgen.counter_5_LC_7_14_4 { buart.Z_tx.Z_baudgen.counter_RNO[5], buart.Z_tx.Z_baudgen.counter[5], buart.Z_tx.Z_baudgen.un2_counter_cry_5_c }
ble_pack buart.Z_tx.Z_baudgen.counter_6_LC_7_14_5 { buart.Z_tx.Z_baudgen.counter_RNO[6], buart.Z_tx.Z_baudgen.counter[6] }
ble_pack buart.Z_tx.Z_baudgen.counter_RNII048_6_LC_7_14_6 { buart.Z_tx.Z_baudgen.counter_RNII048[6] }
ble_pack buart.Z_tx.Z_baudgen.counter_RNI5M6E_1_LC_7_14_7 { buart.Z_tx.Z_baudgen.counter_RNI5M6E[1] }
clb_pack LT_7_14 { buart.Z_tx.Z_baudgen.un2_counter_cry_1_c_LC_7_14_0, buart.Z_tx.Z_baudgen.counter_2_LC_7_14_1, buart.Z_tx.Z_baudgen.counter_3_LC_7_14_2, buart.Z_tx.Z_baudgen.counter_4_LC_7_14_3, buart.Z_tx.Z_baudgen.counter_5_LC_7_14_4, buart.Z_tx.Z_baudgen.counter_6_LC_7_14_5, buart.Z_tx.Z_baudgen.counter_RNII048_6_LC_7_14_6, buart.Z_tx.Z_baudgen.counter_RNI5M6E_1_LC_7_14_7 }
set_location LT_7_14 7 14
ble_pack uu2.w_addr_user_0_LC_8_4_0 { uu2.w_addr_user_RNO[0], uu2.w_addr_user[0] }
clb_pack LT_8_4 { uu2.w_addr_user_0_LC_8_4_0 }
set_location LT_8_4 8 4
ble_pack uu2.w_addr_user_2_1_LC_8_5_0 { uu2.w_addr_user_2_1 }
ble_pack uu2.w_addr_user_RNILAII7_4_LC_8_5_1 { uu2.w_addr_user_RNILAII7[4] }
ble_pack uu2.w_addr_user_RNIT1MGD_4_LC_8_5_2 { uu2.w_addr_user_RNIT1MGD[4] }
ble_pack uu2.w_addr_user_1_LC_8_5_3 { uu2.w_addr_user_1 }
ble_pack Lab_UT.dspStr.cnt_RNI24622_0_LC_8_5_4 { Lab_UT.dspStr.cnt_RNI24622[0] }
ble_pack Lab_UT.dictrluu0.dek.det_N_5_LC_8_5_5 { Lab_UT.dictrluu0.dek.det_N_5 }
ble_pack Lab_UT.dictrluu0.dek.det_N_LC_8_5_6 { Lab_UT.dictrluu0.dek.det_N }
ble_pack uu2.mem0.ram512X8_inst_RNO_45_LC_8_5_7 { uu2.mem0.ram512X8_inst_RNO_45 }
clb_pack LT_8_5 { uu2.w_addr_user_2_1_LC_8_5_0, uu2.w_addr_user_RNILAII7_4_LC_8_5_1, uu2.w_addr_user_RNIT1MGD_4_LC_8_5_2, uu2.w_addr_user_1_LC_8_5_3, Lab_UT.dspStr.cnt_RNI24622_0_LC_8_5_4, Lab_UT.dictrluu0.dek.det_N_5_LC_8_5_5, Lab_UT.dictrluu0.dek.det_N_LC_8_5_6, uu2.mem0.ram512X8_inst_RNO_45_LC_8_5_7 }
set_location LT_8_5 8 5
ble_pack uu2.un27_m3_0_LC_8_6_0 { uu2.un27_m3_0 }
ble_pack Lab_UT.dspStr.cnt_RNI11B71_3_LC_8_6_1 { Lab_UT.dspStr.cnt_RNI11B71[3] }
ble_pack uu2.w_m5_i_a3_2_LC_8_6_2 { uu2.w_m5_i_a3_2 }
ble_pack Lab_UT.dictrluu0.dek.det_N_4_LC_8_6_3 { Lab_UT.dictrluu0.dek.det_N_4 }
ble_pack uu2.un1_w_user_lf_0_0_0_LC_8_6_4 { uu2.un1_w_user_lf_0_0_0 }
ble_pack uu2.un1_w_user_lf_0_LC_8_6_5 { uu2.un1_w_user_lf_0 }
ble_pack uu2.w_addr_user_RNILDNK6_4_LC_8_6_6 { uu2.w_addr_user_RNILDNK6[4] }
ble_pack uu2.w_addr_user_RNIOM3NG_4_LC_8_6_7 { uu2.w_addr_user_RNIOM3NG[4] }
clb_pack LT_8_6 { uu2.un27_m3_0_LC_8_6_0, Lab_UT.dspStr.cnt_RNI11B71_3_LC_8_6_1, uu2.w_m5_i_a3_2_LC_8_6_2, Lab_UT.dictrluu0.dek.det_N_4_LC_8_6_3, uu2.un1_w_user_lf_0_0_0_LC_8_6_4, uu2.un1_w_user_lf_0_LC_8_6_5, uu2.w_addr_user_RNILDNK6_4_LC_8_6_6, uu2.w_addr_user_RNIOM3NG_4_LC_8_6_7 }
set_location LT_8_6 8 6
ble_pack uu2.un1_w_user_lf_5_a0_5_LC_8_7_0 { uu2.un1_w_user_lf_5_a0_5 }
ble_pack uu2.un1_w_user_lf_5_a0_LC_8_7_1 { uu2.un1_w_user_lf_5_a0 }
ble_pack Lab_UT.dspStr.cnt_1_rep1_LC_8_7_2 { Lab_UT.dspStr.cnt_1_rep1_THRU_LUT4_0, Lab_UT.dspStr.cnt_1_rep1 }
ble_pack Lab_UT.dspStr.cnt_2_rep1_LC_8_7_3 { Lab_UT.dspStr.cnt_2_rep1_THRU_LUT4_0, Lab_UT.dspStr.cnt_2_rep1 }
ble_pack Lab_UT.dspStr.cnt_3_rep1_LC_8_7_4 { Lab_UT.dspStr.cnt_3_rep1_THRU_LUT4_0, Lab_UT.dspStr.cnt_3_rep1 }
ble_pack Lab_UT.dspStr.cnt_3_rep1_RNIIV651_LC_8_7_5 { Lab_UT.dspStr.cnt_3_rep1_RNIIV651 }
ble_pack Lab_UT.dspStr.cnt_3_rep1_RNI05SQ_LC_8_7_6 { Lab_UT.dspStr.cnt_3_rep1_RNI05SQ }
ble_pack uu2.un1_w_user_cr_1_LC_8_7_7 { uu2.un1_w_user_cr_1 }
clb_pack LT_8_7 { uu2.un1_w_user_lf_5_a0_5_LC_8_7_0, uu2.un1_w_user_lf_5_a0_LC_8_7_1, Lab_UT.dspStr.cnt_1_rep1_LC_8_7_2, Lab_UT.dspStr.cnt_2_rep1_LC_8_7_3, Lab_UT.dspStr.cnt_3_rep1_LC_8_7_4, Lab_UT.dspStr.cnt_3_rep1_RNIIV651_LC_8_7_5, Lab_UT.dspStr.cnt_3_rep1_RNI05SQ_LC_8_7_6, uu2.un1_w_user_cr_1_LC_8_7_7 }
set_location LT_8_7 8 7
ble_pack uu2.un4_w_user_data_rdy_0_LC_8_8_0 { uu2.un4_w_user_data_rdy[0] }
ble_pack uu2.un27_m3_LC_8_8_1 { uu2.un27_m3 }
ble_pack uu2.un27_w_addr_user_i_1_LC_8_8_2 { uu2.un27_w_addr_user_i_1 }
ble_pack Lab_UT.dspStr.cnt_3_rep1_RNIEPV31_LC_8_8_3 { Lab_UT.dspStr.cnt_3_rep1_RNIEPV31 }
ble_pack uu2.w_addr_displaying_RNIQKOV8_8_LC_8_8_4 { uu2.w_addr_displaying_RNIQKOV8[8] }
ble_pack uu2.w_addr_displaying_RNIB9CMF_8_LC_8_8_5 { uu2.w_addr_displaying_RNIB9CMF[8] }
ble_pack uu2.w_addr_displaying_fast_6_LC_8_8_6 { uu2.w_addr_displaying_fast_RNO[6], uu2.w_addr_displaying_fast[6] }
clb_pack LT_8_8 { uu2.un4_w_user_data_rdy_0_LC_8_8_0, uu2.un27_m3_LC_8_8_1, uu2.un27_w_addr_user_i_1_LC_8_8_2, Lab_UT.dspStr.cnt_3_rep1_RNIEPV31_LC_8_8_3, uu2.w_addr_displaying_RNIQKOV8_8_LC_8_8_4, uu2.w_addr_displaying_RNIB9CMF_8_LC_8_8_5, uu2.w_addr_displaying_fast_6_LC_8_8_6 }
set_location LT_8_8 8 8
ble_pack uu2.mem0.ram512X8_inst_RNO_69_LC_8_9_0 { uu2.mem0.ram512X8_inst_RNO_69 }
ble_pack uu2.mem0.ram512X8_inst_RNO_55_LC_8_9_1 { uu2.mem0.ram512X8_inst_RNO_55 }
ble_pack uu2.mem0.ram512X8_inst_RNO_33_LC_8_9_2 { uu2.mem0.ram512X8_inst_RNO_33 }
ble_pack uu2.mem0.ram512X8_inst_RNO_70_LC_8_9_3 { uu2.mem0.ram512X8_inst_RNO_70 }
ble_pack uu2.mem0.ram512X8_inst_RNO_68_LC_8_9_4 { uu2.mem0.ram512X8_inst_RNO_68 }
ble_pack uu2.mem0.ram512X8_inst_RNO_57_LC_8_9_5 { uu2.mem0.ram512X8_inst_RNO_57 }
ble_pack uu2.w_addr_displaying_fast_0_LC_8_9_6 { uu2.w_addr_displaying_fast_RNO[0], uu2.w_addr_displaying_fast[0] }
ble_pack uu2.w_addr_displaying_fast_RNI3A1N_0_LC_8_9_7 { uu2.w_addr_displaying_fast_RNI3A1N[0] }
clb_pack LT_8_9 { uu2.mem0.ram512X8_inst_RNO_69_LC_8_9_0, uu2.mem0.ram512X8_inst_RNO_55_LC_8_9_1, uu2.mem0.ram512X8_inst_RNO_33_LC_8_9_2, uu2.mem0.ram512X8_inst_RNO_70_LC_8_9_3, uu2.mem0.ram512X8_inst_RNO_68_LC_8_9_4, uu2.mem0.ram512X8_inst_RNO_57_LC_8_9_5, uu2.w_addr_displaying_fast_0_LC_8_9_6, uu2.w_addr_displaying_fast_RNI3A1N_0_LC_8_9_7 }
set_location LT_8_9 8 9
ble_pack uu2.mem0.ram512X8_inst_RNO_61_LC_8_10_0 { uu2.mem0.ram512X8_inst_RNO_61 }
ble_pack uu2.mem0.ram512X8_inst_RNO_63_LC_8_10_1 { uu2.mem0.ram512X8_inst_RNO_63 }
ble_pack uu2.mem0.ram512X8_inst_RNO_43_LC_8_10_2 { uu2.mem0.ram512X8_inst_RNO_43 }
ble_pack uu2.mem0.ram512X8_inst_RNO_62_LC_8_10_3 { uu2.mem0.ram512X8_inst_RNO_62 }
ble_pack uu2.w_addr_displaying_fast_RNIFM1N_1_LC_8_10_4 { uu2.w_addr_displaying_fast_RNIFM1N[1] }
ble_pack uu2.w_addr_displaying_fast_1_LC_8_10_5 { uu2.w_addr_displaying_fast_RNO[1], uu2.w_addr_displaying_fast[1] }
ble_pack uu2.w_addr_displaying_fast_3_LC_8_10_6 { uu2.w_addr_displaying_fast_RNO[3], uu2.w_addr_displaying_fast[3] }
ble_pack uu2.mem0.ram512X8_inst_RNO_65_LC_8_10_7 { uu2.mem0.ram512X8_inst_RNO_65 }
clb_pack LT_8_10 { uu2.mem0.ram512X8_inst_RNO_61_LC_8_10_0, uu2.mem0.ram512X8_inst_RNO_63_LC_8_10_1, uu2.mem0.ram512X8_inst_RNO_43_LC_8_10_2, uu2.mem0.ram512X8_inst_RNO_62_LC_8_10_3, uu2.w_addr_displaying_fast_RNIFM1N_1_LC_8_10_4, uu2.w_addr_displaying_fast_1_LC_8_10_5, uu2.w_addr_displaying_fast_3_LC_8_10_6, uu2.mem0.ram512X8_inst_RNO_65_LC_8_10_7 }
set_location LT_8_10 8 10
ble_pack uu2.vbuf_w_addr_displaying.result_1_8_LC_8_11_1 { uu2.vbuf_w_addr_displaying.result_1[8] }
ble_pack uu2.w_addr_displaying_8_LC_8_11_2 { uu2.w_addr_displaying_RNO[8], uu2.w_addr_displaying[8] }
ble_pack uu2.w_addr_displaying_RNI4K2N2_8_LC_8_11_3 { uu2.w_addr_displaying_RNI4K2N2[8] }
ble_pack uu2.w_addr_displaying_6_LC_8_11_4 { uu2.w_addr_displaying_RNO[6], uu2.w_addr_displaying[6] }
ble_pack uu2.w_addr_displaying_7_LC_8_11_5 { uu2.w_addr_displaying_RNO[7], uu2.w_addr_displaying[7] }
ble_pack uu2.w_addr_displaying_fast_7_LC_8_11_6 { uu2.w_addr_displaying_fast_RNO[7], uu2.w_addr_displaying_fast[7] }
ble_pack uu2.vbuf_w_addr_displaying.result_1_fast_8_LC_8_11_7 { uu2.vbuf_w_addr_displaying.result_1_fast[8] }
clb_pack LT_8_11 { uu2.vbuf_w_addr_displaying.result_1_8_LC_8_11_1, uu2.w_addr_displaying_8_LC_8_11_2, uu2.w_addr_displaying_RNI4K2N2_8_LC_8_11_3, uu2.w_addr_displaying_6_LC_8_11_4, uu2.w_addr_displaying_7_LC_8_11_5, uu2.w_addr_displaying_fast_7_LC_8_11_6, uu2.vbuf_w_addr_displaying.result_1_fast_8_LC_8_11_7 }
set_location LT_8_11 8 11
ble_pack Lab_UT.didpuu0.didpsones.q_RNO_0_0_LC_8_12_0 { Lab_UT.didpuu0.didpsones.q_RNO_0[0], Lab_UT.didpuu0.didpsones.un1_q_cry_0_c }
ble_pack Lab_UT.didpuu0.didpsones.q_RNO_0_1_LC_8_12_1 { Lab_UT.didpuu0.didpsones.q_RNO_0[1], Lab_UT.didpuu0.didpsones.un1_q_cry_1_c }
ble_pack Lab_UT.didpuu0.didpsones.q_RNO_0_2_LC_8_12_2 { Lab_UT.didpuu0.didpsones.q_RNO_0[2], Lab_UT.didpuu0.didpsones.un1_q_cry_2_c }
ble_pack Lab_UT.didpuu0.didpsones.q_RNO_0_3_LC_8_12_3 { Lab_UT.didpuu0.didpsones.q_RNO_0[3] }
ble_pack Lab_UT.didpuu0.didpsones.q_3_LC_8_12_4 { Lab_UT.didpuu0.didpsones.q_RNO[3], Lab_UT.didpuu0.didpsones.q[3] }
ble_pack Lab_UT.didpuu0.didpsones.q_0_LC_8_12_5 { Lab_UT.didpuu0.didpsones.q_RNO[0], Lab_UT.didpuu0.didpsones.q[0] }
ble_pack buart.Z_tx.bitcount_2_LC_8_12_6 { buart.Z_tx.bitcount_RNO[2], buart.Z_tx.bitcount[2] }
ble_pack Lab_UT.didpuu0.didpsones.q_1_LC_8_12_7 { Lab_UT.didpuu0.didpsones.q_RNO[1], Lab_UT.didpuu0.didpsones.q[1] }
clb_pack LT_8_12 { Lab_UT.didpuu0.didpsones.q_RNO_0_0_LC_8_12_0, Lab_UT.didpuu0.didpsones.q_RNO_0_1_LC_8_12_1, Lab_UT.didpuu0.didpsones.q_RNO_0_2_LC_8_12_2, Lab_UT.didpuu0.didpsones.q_RNO_0_3_LC_8_12_3, Lab_UT.didpuu0.didpsones.q_3_LC_8_12_4, Lab_UT.didpuu0.didpsones.q_0_LC_8_12_5, buart.Z_tx.bitcount_2_LC_8_12_6, Lab_UT.didpuu0.didpsones.q_1_LC_8_12_7 }
set_location LT_8_12 8 12
ble_pack buart.Z_tx.un1_bitcount_cry_0_c_LC_8_13_0 { buart.Z_tx.un1_bitcount_cry_0_c }
ble_pack buart.Z_tx.bitcount_RNO_0_1_LC_8_13_1 { buart.Z_tx.bitcount_RNO_0[1], buart.Z_tx.un1_bitcount_cry_1_c }
ble_pack buart.Z_tx.bitcount_RNO_0_2_LC_8_13_2 { buart.Z_tx.bitcount_RNO_0[2], buart.Z_tx.un1_bitcount_cry_2_c }
ble_pack buart.Z_tx.bitcount_3_LC_8_13_3 { buart.Z_tx.bitcount_RNO[3], buart.Z_tx.bitcount[3] }
ble_pack buart.Z_tx.bitcount_RNIM5O32_2_LC_8_13_4 { buart.Z_tx.bitcount_RNIM5O32[2] }
ble_pack buart.Z_tx.bitcount_RNIQOQA1_3_LC_8_13_5 { buart.Z_tx.bitcount_RNIQOQA1[3] }
ble_pack buart.Z_tx.bitcount_RNIL4O32_1_LC_8_13_6 { buart.Z_tx.bitcount_RNIL4O32[1] }
ble_pack buart.Z_tx.bitcount_RNO_0_3_LC_8_13_7 { buart.Z_tx.bitcount_RNO_0[3] }
clb_pack LT_8_13 { buart.Z_tx.un1_bitcount_cry_0_c_LC_8_13_0, buart.Z_tx.bitcount_RNO_0_1_LC_8_13_1, buart.Z_tx.bitcount_RNO_0_2_LC_8_13_2, buart.Z_tx.bitcount_3_LC_8_13_3, buart.Z_tx.bitcount_RNIM5O32_2_LC_8_13_4, buart.Z_tx.bitcount_RNIQOQA1_3_LC_8_13_5, buart.Z_tx.bitcount_RNIL4O32_1_LC_8_13_6, buart.Z_tx.bitcount_RNO_0_3_LC_8_13_7 }
set_location LT_8_13 8 13
ble_pack Lab_UT.secuu0.sec_clkD_LC_9_4_6 { Lab_UT.secuu0.sec_clkD_THRU_LUT4_0, Lab_UT.secuu0.sec_clkD }
clb_pack LT_9_4 { Lab_UT.secuu0.sec_clkD_LC_9_4_6 }
set_location LT_9_4 9 4
ble_pack Lab_UT.dspStr.cnt_0_LC_9_5_0 { Lab_UT.dspStr.cnt_RNO[0], Lab_UT.dspStr.cnt[0], Lab_UT.dspStr.un1_cnt_3_cry_0_c }
ble_pack Lab_UT.dspStr.un1_cnt_3_cry_0_c_RNIS87E_LC_9_5_1 { Lab_UT.dspStr.un1_cnt_3_cry_0_c_RNIS87E, Lab_UT.dspStr.un1_cnt_3_cry_1_c }
ble_pack Lab_UT.dspStr.un1_cnt_3_cry_1_c_RNIUB8E_LC_9_5_2 { Lab_UT.dspStr.un1_cnt_3_cry_1_c_RNIUB8E, Lab_UT.dspStr.un1_cnt_3_cry_2_c }
ble_pack Lab_UT.dspStr.un1_cnt_3_cry_2_c_RNI0F9E_LC_9_5_3 { Lab_UT.dspStr.un1_cnt_3_cry_2_c_RNI0F9E }
ble_pack Lab_UT.dspStr.cnt_1_LC_9_5_4 { Lab_UT.dspStr.cnt_1_THRU_LUT4_0, Lab_UT.dspStr.cnt[1] }
clb_pack LT_9_5 { Lab_UT.dspStr.cnt_0_LC_9_5_0, Lab_UT.dspStr.un1_cnt_3_cry_0_c_RNIS87E_LC_9_5_1, Lab_UT.dspStr.un1_cnt_3_cry_1_c_RNIUB8E_LC_9_5_2, Lab_UT.dspStr.un1_cnt_3_cry_2_c_RNI0F9E_LC_9_5_3, Lab_UT.dspStr.cnt_1_LC_9_5_4 }
set_location LT_9_5 9 5
ble_pack Lab_UT.Lab3U01.q_0_LC_9_6_0 { buart.Z_rx.bitcount_e_0_RNI8RI7_0_0_Lab_UT.Lab3U01.q_0_REP_LUT4_0, Lab_UT.Lab3U01.q[0] }
ble_pack resetGen.un3_reset_count_i_a3_4_LC_9_6_1 { resetGen.un3_reset_count_i_a3_4 }
ble_pack Lab_UT.dspStr.cnt_RNIN6202_3_LC_9_6_2 { Lab_UT.dspStr.cnt_RNIN6202[3] }
ble_pack Lab_UT.dspStr.cnt_2_LC_9_6_3 { Lab_UT.dspStr.cnt_2_THRU_LUT4_0, Lab_UT.dspStr.cnt[2] }
ble_pack Lab_UT.dspStr.cnt_3_LC_9_6_4 { Lab_UT.dspStr.cnt_3_THRU_LUT4_0, Lab_UT.dspStr.cnt[3] }
ble_pack Lab_UT.dspStr.cnt_fast_3_LC_9_6_5 { Lab_UT.dspStr.cnt_fast_3_THRU_LUT4_0, Lab_UT.dspStr.cnt_fast[3] }
ble_pack uu2.mem0.ram512X8_inst_RNO_LC_9_6_7 { uu2.mem0.ram512X8_inst_RNO }
clb_pack LT_9_6 { Lab_UT.Lab3U01.q_0_LC_9_6_0, resetGen.un3_reset_count_i_a3_4_LC_9_6_1, Lab_UT.dspStr.cnt_RNIN6202_3_LC_9_6_2, Lab_UT.dspStr.cnt_2_LC_9_6_3, Lab_UT.dspStr.cnt_3_LC_9_6_4, Lab_UT.dspStr.cnt_fast_3_LC_9_6_5, uu2.mem0.ram512X8_inst_RNO_LC_9_6_7 }
set_location LT_9_6 9 6
ble_pack Lab_UT.dspStr.cnt_fast_RNIU9551_1_LC_9_7_0 { Lab_UT.dspStr.cnt_fast_RNIU9551[1] }
ble_pack uu2.un1_w_user_cr_4_LC_9_7_1 { uu2.un1_w_user_cr_4 }
ble_pack Lab_UT.dspStr.cnt_fast_RNIQ5551_1_LC_9_7_2 { Lab_UT.dspStr.cnt_fast_RNIQ5551[1] }
ble_pack Lab_UT.dspStr.cnt_fast_RNIS7551_1_LC_9_7_3 { Lab_UT.dspStr.cnt_fast_RNIS7551[1] }
ble_pack Lab_UT.dspStr.cnt_fast_1_LC_9_7_4 { Lab_UT.dspStr.cnt_fast_1_THRU_LUT4_0, Lab_UT.dspStr.cnt_fast[1] }
ble_pack Lab_UT.dspStr.cnt_fast_RNIR6551_1_LC_9_7_5 { Lab_UT.dspStr.cnt_fast_RNIR6551[1] }
ble_pack Lab_UT.dspStr.cnt_fast_RNIT8551_1_LC_9_7_6 { Lab_UT.dspStr.cnt_fast_RNIT8551[1] }
ble_pack Lab_UT.dspStr.cnt_fast_2_LC_9_7_7 { Lab_UT.dspStr.cnt_fast_2_THRU_LUT4_0, Lab_UT.dspStr.cnt_fast[2] }
clb_pack LT_9_7 { Lab_UT.dspStr.cnt_fast_RNIU9551_1_LC_9_7_0, uu2.un1_w_user_cr_4_LC_9_7_1, Lab_UT.dspStr.cnt_fast_RNIQ5551_1_LC_9_7_2, Lab_UT.dspStr.cnt_fast_RNIS7551_1_LC_9_7_3, Lab_UT.dspStr.cnt_fast_1_LC_9_7_4, Lab_UT.dspStr.cnt_fast_RNIR6551_1_LC_9_7_5, Lab_UT.dspStr.cnt_fast_RNIT8551_1_LC_9_7_6, Lab_UT.dspStr.cnt_fast_2_LC_9_7_7 }
set_location LT_9_7 9 7
ble_pack Lab_UT.Lab3U00.q_esr_0_LC_9_8_0 { Lab_UT.Lab3U00.q_esr_0_THRU_LUT4_0, Lab_UT.Lab3U00.q_esr[0] }
ble_pack Lab_UT.Lab3U00.q_esr_1_LC_9_8_1 { Lab_UT.Lab3U00.q_esr_1_THRU_LUT4_0, Lab_UT.Lab3U00.q_esr[1] }
ble_pack Lab_UT.Lab3U00.q_esr_2_LC_9_8_2 { Lab_UT.Lab3U00.q_esr_2_THRU_LUT4_0, Lab_UT.Lab3U00.q_esr[2] }
ble_pack Lab_UT.Lab3U00.q_esr_3_LC_9_8_3 { Lab_UT.Lab3U00.q_esr_3_THRU_LUT4_0, Lab_UT.Lab3U00.q_esr[3] }
ble_pack Lab_UT.Lab3U00.q_esr_4_LC_9_8_4 { Lab_UT.Lab3U00.q_esr_4_THRU_LUT4_0, Lab_UT.Lab3U00.q_esr[4] }
ble_pack Lab_UT.Lab3U00.q_esr_5_LC_9_8_5 { Lab_UT.Lab3U00.q_esr_5_THRU_LUT4_0, Lab_UT.Lab3U00.q_esr[5] }
ble_pack Lab_UT.Lab3U00.q_esr_6_LC_9_8_6 { Lab_UT.Lab3U00.q_esr_6_THRU_LUT4_0, Lab_UT.Lab3U00.q_esr[6] }
ble_pack Lab_UT.Lab3U00.q_esr_7_LC_9_8_7 { Lab_UT.Lab3U00.q_esr_7_THRU_LUT4_0, Lab_UT.Lab3U00.q_esr[7] }
clb_pack LT_9_8 { Lab_UT.Lab3U00.q_esr_0_LC_9_8_0, Lab_UT.Lab3U00.q_esr_1_LC_9_8_1, Lab_UT.Lab3U00.q_esr_2_LC_9_8_2, Lab_UT.Lab3U00.q_esr_3_LC_9_8_3, Lab_UT.Lab3U00.q_esr_4_LC_9_8_4, Lab_UT.Lab3U00.q_esr_5_LC_9_8_5, Lab_UT.Lab3U00.q_esr_6_LC_9_8_6, Lab_UT.Lab3U00.q_esr_7_LC_9_8_7 }
set_location LT_9_8 9 8
ble_pack uu2.mem0.ram512X8_inst_RNO_54_LC_9_9_0 { uu2.mem0.ram512X8_inst_RNO_54 }
ble_pack uu2.vbuf_w_addr_displaying.result_1_3_LC_9_9_1 { uu2.vbuf_w_addr_displaying.result_1[3] }
ble_pack uu2.un1_w_user_lf_5_a0_4_LC_9_9_2 { uu2.un1_w_user_lf_5_a0_4 }
ble_pack uu2.vbuf_w_addr_displaying.counter_gen_label_6__un437_ci_LC_9_9_3 { uu2.vbuf_w_addr_displaying.counter_gen_label[6].un437_ci }
ble_pack Lab_UT.Lab3U00.q_esr_ctle_7_LC_9_9_4 { Lab_UT.Lab3U00.q_esr_ctle[7] }
ble_pack Lab_UT.didpuu0.clkSecStrb_LC_9_9_5 { Lab_UT.didpuu0.clkSecStrb }
ble_pack uu2.vbuf_w_addr_displaying.result_1_fast_3_LC_9_9_6 { uu2.vbuf_w_addr_displaying.result_1_fast[3] }
ble_pack uu2.mem0.ram512X8_inst_RNO_67_LC_9_9_7 { uu2.mem0.ram512X8_inst_RNO_67 }
clb_pack LT_9_9 { uu2.mem0.ram512X8_inst_RNO_54_LC_9_9_0, uu2.vbuf_w_addr_displaying.result_1_3_LC_9_9_1, uu2.un1_w_user_lf_5_a0_4_LC_9_9_2, uu2.vbuf_w_addr_displaying.counter_gen_label_6__un437_ci_LC_9_9_3, Lab_UT.Lab3U00.q_esr_ctle_7_LC_9_9_4, Lab_UT.didpuu0.clkSecStrb_LC_9_9_5, uu2.vbuf_w_addr_displaying.result_1_fast_3_LC_9_9_6, uu2.mem0.ram512X8_inst_RNO_67_LC_9_9_7 }
set_location LT_9_9 9 9
ble_pack uu2.w_addr_displaying_fast_5_LC_9_10_0 { uu2.w_addr_displaying_fast_RNO[5], uu2.w_addr_displaying_fast[5] }
ble_pack uu2.w_addr_displaying_0_LC_9_10_1 { uu2.w_addr_displaying_RNO[0], uu2.w_addr_displaying[0] }
ble_pack uu2.w_addr_displaying_fast_8_LC_9_10_2 { uu2.w_addr_displaying_fast_RNO[8], uu2.w_addr_displaying_fast[8] }
clb_pack LT_9_10 { uu2.w_addr_displaying_fast_5_LC_9_10_0, uu2.w_addr_displaying_0_LC_9_10_1, uu2.w_addr_displaying_fast_8_LC_9_10_2 }
set_location LT_9_10 9 10
ble_pack resetGen.un3_reset_count_i_a3_5_LC_9_11_0 { resetGen.un3_reset_count_i_a3_5 }
ble_pack buart.Z_rx.shifter_0_LC_9_11_1 { buart.Z_rx.shifter_0_THRU_LUT4_0, buart.Z_rx.shifter[0] }
ble_pack buart.Z_rx.shifter_1_LC_9_11_2 { buart.Z_rx.shifter_1_THRU_LUT4_0, buart.Z_rx.shifter[1] }
ble_pack buart.Z_rx.shifter_5_LC_9_11_3 { buart.Z_rx.shifter_5_THRU_LUT4_0, buart.Z_rx.shifter[5] }
ble_pack buart.Z_rx.shifter_6_LC_9_11_4 { buart.Z_rx.shifter_6_THRU_LUT4_0, buart.Z_rx.shifter[6] }
ble_pack buart.Z_rx.shifter_4_LC_9_11_5 { buart.Z_rx.shifter_4_THRU_LUT4_0, buart.Z_rx.shifter[4] }
ble_pack buart.Z_rx.shifter_3_LC_9_11_6 { buart.Z_rx.shifter_3_THRU_LUT4_0, buart.Z_rx.shifter[3] }
ble_pack buart.Z_rx.shifter_2_LC_9_11_7 { buart.Z_rx.shifter_2_THRU_LUT4_0, buart.Z_rx.shifter[2] }
clb_pack LT_9_11 { resetGen.un3_reset_count_i_a3_5_LC_9_11_0, buart.Z_rx.shifter_0_LC_9_11_1, buart.Z_rx.shifter_1_LC_9_11_2, buart.Z_rx.shifter_5_LC_9_11_3, buart.Z_rx.shifter_6_LC_9_11_4, buart.Z_rx.shifter_4_LC_9_11_5, buart.Z_rx.shifter_3_LC_9_11_6, buart.Z_rx.shifter_2_LC_9_11_7 }
set_location LT_9_11 9 11
ble_pack Lab_UT.didpuu0.ledDisp00.L3_led_1_0_LC_9_12_5 { Lab_UT.didpuu0.ledDisp00.L3_led_1[0] }
clb_pack LT_9_12 { Lab_UT.didpuu0.ledDisp00.L3_led_1_0_LC_9_12_5 }
set_location LT_9_12 9 12
ble_pack Lab_UT.didpuu0.o_oneSecPluse_LC_11_9_6 { Lab_UT.didpuu0.o_oneSecPluse }
clb_pack LT_11_9 { Lab_UT.didpuu0.o_oneSecPluse_LC_11_9_6 }
set_location LT_11_9 11 9
ble_pack Lab_UT.didpuu0.ledDisp00.L3_led_1_2_LC_11_11_2 { Lab_UT.didpuu0.ledDisp00.L3_led_1[2] }
ble_pack Lab_UT.didpuu0.ledDisp00.L3_led_1_3_LC_11_11_3 { Lab_UT.didpuu0.ledDisp00.L3_led_1[3] }
clb_pack LT_11_11 { Lab_UT.didpuu0.ledDisp00.L3_led_1_2_LC_11_11_2, Lab_UT.didpuu0.ledDisp00.L3_led_1_3_LC_11_11_3 }
set_location LT_11_11 11 11
ble_pack Lab_UT.didpuu0.ledDisp00.L3_led_1_1_LC_11_12_1 { Lab_UT.didpuu0.ledDisp00.L3_led_1[1] }
clb_pack LT_11_12 { Lab_UT.didpuu0.ledDisp00.L3_led_1_1_LC_11_12_1 }
set_location LT_11_12 11 12
set_location uu2.mem0.ram512X8_inst 3 7
set_location resetGen.rst_iso_RNIEOGF 0 8
set_location Lab_UT.secuu0.delay_line_RNILBAI7_0[1] 0 9
set_location latticehx1k_pll_inst.PLLOUTCORE_derived_clock_RNIALC1 6 17
set_io o_serial_data 8
set_io led[1] 98
set_io to_ir 105
set_io sd 107
set_io led[4] 95
set_io led[2] 97
set_io led[0] 99
set_io from_pc 9
set_io led[3] 96
set_io clk_in 21
