set_location IN_MUX_bfv_7_2_0_ 7 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_1_0_ 6 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_3_0_ 5 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_3_0_ 6 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_8_0_ 1 8 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 5 2 2 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_2_THRU_LUT4_0 5 3 3 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_1_THRU_LUT4_0 5 3 2 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_0_THRU_LUT4_0 5 3 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0 6 3 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0 6 3 1 #SB_LUT4
set_location uu2.r_data_reg_esr_7_THRU_LUT4_0 4 12 7 #SB_LUT4
set_location uu2.r_data_reg_esr_6_THRU_LUT4_0 4 12 6 #SB_LUT4
set_location uu2.r_data_reg_esr_5_THRU_LUT4_0 4 12 5 #SB_LUT4
set_location uu2.r_data_reg_esr_4_THRU_LUT4_0 4 12 4 #SB_LUT4
set_location uu2.r_data_reg_esr_3_THRU_LUT4_0 2 12 4 #SB_LUT4
set_location uu2.r_data_reg_esr_2_THRU_LUT4_0 4 12 2 #SB_LUT4
set_location uu2.r_data_reg_esr_1_THRU_LUT4_0 4 12 1 #SB_LUT4
set_location uu2.r_data_reg_esr_0_THRU_LUT4_0 4 12 3 #SB_LUT4
set_location buart.Z_rx.shifter_7_THRU_LUT4_0 5 5 6 #SB_LUT4
set_location buart.Z_rx.shifter_6_THRU_LUT4_0 6 5 0 #SB_LUT4
set_location buart.Z_rx.shifter_5_THRU_LUT4_0 5 5 4 #SB_LUT4
set_location buart.Z_rx.shifter_4_THRU_LUT4_0 5 5 0 #SB_LUT4
set_location buart.Z_rx.shifter_3_THRU_LUT4_0 6 5 3 #SB_LUT4
set_location buart.Z_rx.shifter_2_THRU_LUT4_0 6 5 2 #SB_LUT4
set_location buart.Z_rx.shifter_1_THRU_LUT4_0 6 5 1 #SB_LUT4
set_location buart.Z_rx.shifter_0_THRU_LUT4_0 9 5 2 #SB_LUT4
set_location buart.Z_rx.hh_1_THRU_LUT4_0 5 6 3 #SB_LUT4
set_location buart.Z_rx.hh_0_THRU_LUT4_0 1 11 0 #SB_LUT4
set_location buart.Z_rx.bitcount_e_0_RNI8RI7_0_0_Lab_UT.Lab3U01.q_0_REP_LUT4_0 6 6 2 #SB_LUT4
set_location Lab_UT.secuu0.sec_clkD_THRU_LUT4_0 9 7 0 #SB_LUT4
set_location Lab_UT.secuu0.delay_line_1_THRU_LUT4_0 7 7 6 #SB_LUT4
set_location Lab_UT.dspStr.rdy_THRU_LUT4_0 2 8 2 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr_7_THRU_LUT4_0 2 6 4 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr_6_THRU_LUT4_0 2 6 3 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr_5_THRU_LUT4_0 2 6 2 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr_4_THRU_LUT4_0 2 6 5 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr_3_THRU_LUT4_0 2 6 1 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr_2_THRU_LUT4_0 1 7 4 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr_1_THRU_LUT4_0 5 8 3 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr_0_THRU_LUT4_0 2 6 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_54 7 11 2 #SB_LUT4
set_location resetGen.reset_count_RNITEEC1[2] 7 4 0 #SB_LUT4
set_location Lab_UT.secuu0.delay_line_RNILBAI7[1] 2 7 3 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIV5CT5[3] 6 4 0 #SB_LUT4
set_location Lab_UT.secuu0.l_count[15] 2 4 3 #SB_DFFER
set_location uu2.w_addr_displaying_RNIAGS21[4] 6 9 0 #SB_LUT4
set_location buart.Z_tx.shifter[5] 4 13 6 #SB_DFFE
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNITQOS1[1] 9 13 3 #SB_LUT4
set_location Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[12].un197_ci_9 2 4 5 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[3] 4 8 6 #SB_LUT4
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNI67CI[0] 8 13 5 #SB_LUT4
set_location Lab_UT.didpuu0.didpmones.q_esr_RNO[3] 7 12 1 #SB_LUT4
set_location Lab_UT.didpuu0.didpmones.q[0] 8 14 6 #SB_DFFSR
set_location uu2.w_addr_user_RNO[1] 2 10 2 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO_0[6] 8 8 4 #SB_LUT4
set_location uu2.w_addr_displaying_2_rep1_RNI4RA21 8 10 4 #SB_LUT4
set_location uu2.un1_w_user_cr_5 2 9 1 #SB_LUT4
set_location uu2.un1_segment4_5_bm 6 13 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[2] 6 4 5 #SB_LUT4
set_location Lab_UT.secuu0.l_count[4] 2 4 4 #SB_DFFER
set_location uu2.w_addr_displaying_fast_RNIKFIE[6] 8 13 2 #SB_LUT4
set_location uu2.un1_w_user_lf_4 1 7 1 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[3] 7 2 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNIHV38[6] 6 1 6 #SB_LUT4
set_location Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[15].un230_ci_1 1 4 7 #SB_LUT4
set_location Lab_UT.dec1.g0_i 5 9 0 #SB_LUT4
set_location uu2.w_addr_user_RNIOGH7[8] 1 11 5 #SB_LUT4
set_location uu2.w_addr_displaying_fast[5] 8 9 4 #SB_DFFNSR
set_location buart.Z_rx.bitcount_e_0_RNO[1] 5 4 4 #SB_LUT4
set_location Lab_UT.didpuu0.didpsones.q[2] 8 11 1 #SB_DFFSR
set_location uu2.w_addr_displaying_RNI90195[7] 6 11 7 #SB_LUT4
set_location buart.Z_rx.shifter[6] 6 5 0 #SB_DFFE
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_c 6 3 0 #SB_CARRY
set_location uu2.l_count_RNI89GK1[3] 8 4 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[5] 6 1 4 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_28 5 10 3 #SB_LUT4
set_location Lab_UT.secuu0.sec_clk 7 7 5 #SB_DFFR
set_location uu2.vbuf_raddr.counter_gen_label[4].un425_ci 4 8 0 #SB_LUT4
set_location Lab_UT.secuu0.l_count[12] 4 6 4 #SB_DFFER
set_location uu2.w_addr_displaying_0_rep1_RNIUV0B3 9 10 0 #SB_LUT4
set_location uu2.segment2_m_1[6] 9 8 2 #SB_LUT4
set_location buart.Z_tx.shifter[8] 5 12 1 #SB_DFFE
set_location buart.Z_rx.bitcount_e_0[0] 5 4 7 #SB_DFFE
set_location Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[18].un263_ci 4 5 6 #SB_LUT4
set_location uu2.w_addr_displaying_0_rep1_RNIUUGB1 6 12 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_4_c 6 3 3 #SB_CARRY
set_location uu2.w_addr_displaying_4_rep2 9 10 5 #SB_DFFNSR
set_location buart.Z_rx.hh[1] 5 6 3 #SB_DFF
set_location uu2.w_addr_displaying_2_rep1_RNIQ3R01 7 10 0 #SB_LUT4
set_location uu2.vbuf_count.result_1[8] 7 3 7 #SB_LUT4
set_location buart.Z_tx.uart_tx 4 13 2 #SB_DFFE
set_location uu2.w_addr_user_RNO[2] 2 10 6 #SB_LUT4
set_location uu2.un1_w_user_cr_0 1 7 6 #SB_LUT4
set_location Lab_UT.secuu0.l_count[7] 1 5 4 #SB_DFFER
set_location uu2.un1_w_user_lf_1 2 7 4 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[0] 6 2 0 #SB_LUT4
set_location buart.Z_tx.bitcount[0] 6 2 0 #SB_DFF
set_location Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[13].un208_ci_0 4 5 4 #SB_LUT4
set_location Lab_UT.didpuu0.didpsones.q_RNIHCAV1[0] 8 7 4 #SB_LUT4
set_location uu2.l_count[4] 7 5 4 #SB_DFFSR
set_location resetGen.reset_count[0] 7 4 3 #SB_DFF
set_location Lab_UT.didpuu0.didpsones.q[1] 8 11 0 #SB_DFFSR
set_location uu2.w_addr_user[8] 1 10 1 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_60 9 13 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[8] 8 8 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[0] 6 2 1 #SB_DFF
set_location uu2.w_addr_displaying[8] 8 8 3 #SB_DFFNSR
set_location Lab_UT.didpuu0.didpstens.q_RNIL3BL3[1] 8 7 0 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIFU9M8[8] 8 12 7 #SB_LUT4
set_location uu2.un1_segment4_4_bm 7 12 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_9 4 9 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNI50L01_0[2] 5 13 0 #SB_LUT4
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNIRNGO1[1] 8 13 4 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNID5QH[5] 8 9 5 #SB_LUT4
set_location buart.Z_rx.bitcount_e_0_RNI2B26[4] 5 4 0 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIHV86[5] 6 11 5 #SB_LUT4
set_location uu2.l_count_RNI0NA44[4] 8 4 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_5_c 6 1 4 #SB_CARRY
set_location Lab_UT.didpuu0.didpmtens.q_RNITG5[1] 6 7 7 #SB_LUT4
set_location uu2.w_addr_displaying_4_rep1_RNO 9 8 4 #SB_LUT4
set_location uu2.r_data_reg_esr[5] 4 12 5 #SB_DFFESR
set_location Lab_UT.secuu0.l_count[2] 1 6 4 #SB_DFFER
set_location uu2.w_addr_displaying_fast_RNITAMH5[7] 4 10 6 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[7].un349_ci_0 7 5 1 #SB_LUT4
set_location uu2.segment1_m_2[0] 8 11 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_15 2 8 7 #SB_LUT4
set_location uu2.l_count[7] 8 4 5 #SB_DFFSR
set_location uu2.un1_segment4_0_am 7 8 3 #SB_LUT4
set_location Lab_UT.secuu0.vbuf_count_cntrl1.result_1[10] 2 4 0 #SB_LUT4
set_location uu2.w_addr_displaying_4_rep1_RNIBG883 9 8 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[3] 6 1 2 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_22 2 9 5 #SB_LUT4
set_location Lab_UT.didpuu0.didpmtens.q_RNO_0[2] 6 11 0 #SB_LUT4
set_location uu2.un1_segment4_3_am 8 12 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNI362A1[3] 5 12 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_4 5 12 4 #SB_LUT4
set_location uu2.w_addr_displaying_RNI0QUP1[6] 4 10 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_40 6 10 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[3] 6 1 2 #SB_LUT4
set_location Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[10].un175_ci_8 1 5 6 #SB_LUT4
set_location Lab_UT.dictrluu0.dek.det_N_0_a3_1 5 7 4 #SB_LUT4
set_location uu2.w_addr_user_RNO[8] 1 10 1 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[6].un447_ci_3 4 8 4 #SB_LUT4
set_location uu2.r_data_reg_esr[2] 4 12 2 #SB_DFFESR
set_location Lab_UT.didpuu0.didpsones.q_RNO[1] 8 11 0 #SB_LUT4
set_location Lab_UT.dictrluu0.dek.det_N_0_a3 6 8 4 #SB_LUT4
set_location uu2.un1_segment4_1_bm 6 11 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_39 6 12 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_12 4 9 7 #SB_LUT4
set_location uu2.l_count[2] 8 3 1 #SB_DFFSR
set_location buart.Z_tx.shifter_RNO[0] 4 13 1 #SB_LUT4
set_location Lab_UT.dec1.un11_segmentUQ_1_0_a2 8 13 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_2_c 6 1 1 #SB_CARRY
set_location uu2.w_addr_displaying_fast_RNO[7] 9 8 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_21 2 9 4 #SB_LUT4
set_location buart.Z_rx.bitcount_e_0_RNI8RI7_0[0] 6 6 6 #SB_LUT4
set_location uu2.w_addr_displaying_RNIPHFA2[4] 9 9 1 #SB_LUT4
set_location uu2.w_addr_displaying_5_rep1_RNIMFM34 8 9 3 #SB_LUT4
set_location uu2.un1_segment4_1_am 6 7 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_7 2 9 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_43 7 11 5 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[6] 6 1 5 #SB_LUT4
set_location uu2.un1_w_user_lf 1 9 5 #SB_LUT4
set_location Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[11].un186_ci_0 4 4 2 #SB_LUT4
set_location uu2.vbuf_count.result_1[1] 8 3 7 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNI8TM21[5] 2 5 2 #SB_LUT4
set_location uu2.l_count[10] 8 5 6 #SB_DFFSR
set_location Lab_UT.secuu0.l_count[8] 4 4 5 #SB_DFFER
set_location Lab_UT.didpuu0.didpstens.q[0] 8 7 3 #SB_DFFSR
set_location Lab_UT.didpuu0.didpmtens.q_RNO[1] 7 8 0 #SB_LUT4
set_location uu2.w_addr_displaying_5_rep1_RNI9Q311 9 11 6 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[3] 4 13 4 #SB_LUT4
set_location uu2.w_addr_displaying_fast[8] 9 10 7 #SB_DFFNSR
set_location uu2.w_addr_displaying_RNO_0[6] 8 8 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNII1IB1[5] 4 10 0 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNO[0] 1 6 2 #SB_LUT4
set_location Lab_UT.secuu0.delay_line[1] 7 7 6 #SB_DFFR
set_location uu2.w_addr_displaying_fast_RNO[0] 9 12 1 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNI76AF1[2] 8 9 7 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[6] 8 8 1 #SB_LUT4
set_location uu2.w_addr_displaying_5_rep1_RNIVO2E1 7 9 2 #SB_LUT4
set_location uu2.un19_w_addr_user_0 2 8 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_24 4 9 4 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNI82GM6[5] 2 5 7 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr[6] 2 6 3 #SB_DFFESR
set_location uu2.w_addr_displaying[1] 4 11 7 #SB_DFFNSR
set_location Lab_UT.secuu0.delay_line_RNO[0] 2 5 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_2 5 8 7 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[1] 7 2 1 #SB_LUT4
set_location buart.Z_tx.bitcount[1] 7 2 1 #SB_DFF
set_location Lab_UT.secuu0.vbuf_count_cntrl1.result_1[1] 1 6 1 #SB_LUT4
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNI3BF11[0] 9 13 2 #SB_LUT4
set_location Lab_UT.dec0.segmentUQ[3] 9 9 4 #SB_LUT4
set_location uu2.w_addr_displaying_7_rep1 7 9 7 #SB_DFFNSR
set_location uu2.vram_wr_en_0_i 4 11 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_46 5 10 6 #SB_LUT4
set_location resetGen.reset_count_RNO_0[2] 7 4 6 #SB_LUT4
set_location resetGen.reset_count[3] 6 4 7 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[5] 6 1 4 #SB_LUT4
set_location buart.Z_rx.bitcount_e_0_RNO[3] 5 4 6 #SB_LUT4
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNIIVMU[0] 8 13 3 #SB_LUT4
set_location Lab_UT.didpuu0.didpsones.q[0] 8 7 6 #SB_DFFSR
set_location Lab_UT.dec3.segmentUQ_1[1] 6 7 5 #SB_LUT4
set_location Lab_UT.dec1.segmentUQ[4] 9 8 0 #SB_LUT4
set_location Lab_UT.secuu0.vbuf_count_cntrl1.result_1[14] 2 4 6 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNI0OT22[4] 5 10 1 #SB_LUT4
set_location uu2.r_addr[4] 4 7 5 #SB_DFFSR
set_location uu2.l_count_RNO[5] 8 4 4 #SB_LUT4
set_location Lab_UT.dec3.un75_segmentUQ_i_i_o2 7 8 6 #SB_LUT4
set_location uu2.un1_segment4_0_bm 6 7 6 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNI3O55[5] 6 4 4 #SB_LUT4
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNO[0] 6 8 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[2] 6 4 5 #SB_DFF
set_location Lab_UT.secuu0.l_count[10] 2 4 0 #SB_DFFER
set_location Lab_UT.didpuu0.didpmtens.q_RNO[2] 6 7 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_8 4 9 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_37 4 9 3 #SB_LUT4
set_location uu2.l_count[8] 7 3 7 #SB_DFFSR
set_location buart.Z_tx.shifter_RNO[6] 4 13 7 #SB_LUT4
set_location uu2.r_addr_RNO[1] 7 5 6 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNO[7] 1 5 4 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNO[13] 4 6 7 #SB_LUT4
set_location Lab_UT.didpuu0.didpmtens.q[2] 6 7 4 #SB_DFFSR
set_location uu2.w_addr_user[3] 2 10 1 #SB_DFFNSR
set_location uu2.w_addr_displaying_5_rep1_RNO 9 8 6 #SB_LUT4
set_location resetGen.reset_count_RNO[0] 7 4 3 #SB_LUT4
set_location buart.Z_tx.un1_bitcount_cry_0_c_RNO 7 2 7 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[5] 6 12 5 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[8] 4 8 3 #SB_LUT4
set_location uu2.vbuf_count.result_1[6] 8 5 4 #SB_LUT4
set_location Lab_UT.didpuu0.didpstens.q_RNO[1] 8 7 2 #SB_LUT4
set_location Lab_UT.dictrluu0.dicfsm.cState_RNO_1 5 7 5 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr[1] 5 8 3 #SB_DFFESR
set_location uu2.w_addr_displaying_fast_RNITRMC1[8] 9 10 4 #SB_LUT4
set_location uu2.w_addr_displaying_RNINK1T81[2] 6 9 4 #SB_LUT4
set_location uu2.w_addr_displaying_RNIDUPM1[2] 7 10 2 #SB_LUT4
set_location uu2.w_addr_displaying[4] 7 10 6 #SB_DFFNSR
set_location uu2.w_addr_displaying_0_rep1_RNO 9 10 1 #SB_LUT4
set_location uu2.r_data_reg_esr[6] 4 12 6 #SB_DFFESR
set_location uu2.mem0.ram512X8_inst_RNO_51 6 12 1 #SB_LUT4
set_location Lab_UT.secuu0.l_count[1] 1 6 1 #SB_DFFER
set_location Lab_UT.dspStr.cnt_RNIKFJI1[2] 1 7 2 #SB_LUT4
set_location buart.Z_tx.un1_bitcount_cry_1_c 7 2 1 #SB_CARRY
set_location buart.Z_tx.bitcount[2] 7 2 2 #SB_DFF
set_location uu2.w_addr_displaying_4_rep2_RNI4S6J 9 10 2 #SB_LUT4
set_location uu2.vbuf_w_addr_user.counter_gen_label[4].un425_ci 2 11 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_16 5 10 4 #SB_LUT4
set_location uu2.l_count[6] 8 5 4 #SB_DFFSR
set_location buart.Z_tx.shifter[0] 4 13 1 #SB_DFFE
set_location Lab_UT.didpuu0.didpstens.q_RNIJUV53[1] 8 14 1 #SB_LUT4
set_location Lab_UT.dec3.segmentUQ_0_o2[5] 7 8 2 #SB_LUT4
set_location uu2.w_addr_user_RNIG1C8B[2] 2 8 1 #SB_LUT4
set_location buart.Z_tx.un1_bitcount_cry_0_c 7 2 0 #SB_CARRY
set_location buart.Z_tx.Z_baudgen.counter[2] 6 1 1 #SB_DFF
set_location Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[16].un241_ci_2 2 4 1 #SB_LUT4
set_location Lab_UT.dspStr.cnt_RNO[0] 1 8 0 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[6] 4 8 1 #SB_LUT4
set_location Lab_UT.didpuu0.didpmtens.q_RNO_0[1] 7 8 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[5] 6 3 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[1] 6 4 2 #SB_DFF
set_location Lab_UT.dspStr.cnt[0] 1 8 0 #SB_DFFSR
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNIR2SJ[0] 6 13 7 #SB_LUT4
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNIEH0Q1[1] 6 13 6 #SB_LUT4
set_location uu2.w_addr_displaying_RNIHKAF2[8] 8 8 5 #SB_LUT4
set_location uu2.w_addr_displaying_2_rep1 9 11 3 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_30 6 10 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_19 5 9 3 #SB_LUT4
set_location resetGen.reset_count_2_i_0_a3_4[4] 5 6 2 #SB_LUT4
set_location Lab_UT.secuu0.vbuf_count_cntrl1.result_1[8] 4 4 5 #SB_LUT4
set_location uu2.w_addr_displaying_fast[2] 7 10 7 #SB_DFFNSR
set_location buart.Z_tx.un1_bitcount_cry_2_c 7 2 2 #SB_CARRY
set_location buart.Z_tx.Z_baudgen.counter_RNO[2] 6 1 1 #SB_LUT4
set_location buart.Z_rx.bitcount_e_0_RNO[4] 5 3 4 #SB_LUT4
set_location uu2.w_addr_user[0] 2 10 5 #SB_DFFNSR
set_location uu2.r_addr_esr[6] 4 8 1 #SB_DFFESR
set_location resetGen.reset_count_RNO[3] 6 4 7 #SB_LUT4
set_location buart.Z_rx.shifter[1] 6 5 1 #SB_DFFE
set_location buart.Z_rx.bitcount_cry_c[1] 5 3 1 #SB_CARRY
set_location Lab_UT.secuu0.vbuf_precount_cntrl1.result_1[1] 2 5 3 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[0] 9 12 0 #SB_LUT4
set_location uu2.l_count_RNO[2] 8 3 1 #SB_LUT4
set_location Lab_UT.dspStr.rdy 2 8 2 #SB_DFF
set_location uu2.w_addr_displaying[7] 8 8 7 #SB_DFFNSR
set_location uu2.r_data_reg_esr[3] 2 12 4 #SB_DFFESR
set_location uu2.mem0.ram512X8_inst_RNO_56 5 13 6 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNILAD9[2] 7 9 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNI5M6E[1] 6 1 7 #SB_LUT4
set_location Lab_UT.secuu0.l_count[17] 4 4 1 #SB_DFFER
set_location Lab_UT.dspStr.un1_cnt_3_cry_2_c 1 8 2 #SB_CARRY
set_location Lab_UT.didpuu0.didpstens.q_esr[3] 8 12 3 #SB_DFFESR
set_location Lab_UT.didpuu0.didpsones.q_RNO[0] 8 7 6 #SB_LUT4
set_location Lab_UT.didpuu0.didpmones.q_RNO[2] 8 14 3 #SB_LUT4
set_location uu2.un1_segment3_m5_am 9 8 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_13 4 9 1 #SB_LUT4
set_location uu2.l_count[1] 8 3 7 #SB_DFFSR
set_location buart.Z_tx.shifter[7] 5 12 0 #SB_DFFE
set_location uu2.w_addr_displaying_RNIV60G2[2] 5 9 5 #SB_LUT4
set_location uu2.w_addr_displaying_6_rep1_RNI9Q3H 6 10 2 #SB_LUT4
set_location Lab_UT.didpuu0.ledDisp00.selLed[0] 6 8 5 #SB_DFF
set_location uu2.w_addr_displaying_8_rep1_RNIN6OC 7 9 6 #SB_LUT4
set_location buart.Z_rx.bitcount_e_0_RNI8RI7[0] 5 6 4 #SB_LUT4
set_location Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[7].un142_ci_0 1 4 2 #SB_LUT4
set_location Lab_UT.secuu0.l_precount_RNO[0] 4 7 1 #SB_LUT4
set_location Lab_UT.dspStr.cnt_RNI24622[0] 2 7 2 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[4] 7 9 3 #SB_LUT4
set_location uu2.w_addr_displaying_2_rep1_RNIR94U 8 10 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_20 5 10 0 #SB_LUT4
set_location Lab_UT.didpuu0.clkSecStrb 9 7 1 #SB_LUT4
set_location uu2.w_addr_user_RNO[7] 1 10 4 #SB_LUT4
set_location uu2.vbuf_w_addr_user.result_1[7] 1 11 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_58 9 9 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[0] 6 4 1 #SB_LUT4
set_location Lab_UT.secuu0.l_precount[3] 2 5 1 #SB_DFFR
set_location Lab_UT.dspStr.cnt[3] 1 8 3 #SB_DFFSR
set_location uu2.w_addr_displaying_5_rep1_RNI3HMT 8 9 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_6 1 11 4 #SB_LUT4
set_location uu2.w_addr_displaying_fast[7] 9 8 7 #SB_DFFNSR
set_location uu2.w_addr_displaying_4_rep2_RNI5R4M 7 10 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_42 6 10 4 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIM5O32[2] 7 2 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[1] 6 2 2 #SB_LUT4
set_location Lab_UT.dec1.segmentUQ[0] 5 7 0 #SB_LUT4
set_location uu2.w_addr_user[5] 2 10 7 #SB_DFFNSR
set_location resetGen.rst 7 4 4 #SB_DFF
set_location buart.Z_rx.shifter[4] 5 5 0 #SB_DFFE
set_location Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[10].un175_ci_6 1 6 0 #SB_LUT4
set_location uu2.r_data_reg_esr[0] 4 12 3 #SB_DFFESR
set_location Lab_UT.didpuu0.didpstens.q[1] 8 7 2 #SB_DFFSR
set_location Lab_UT.secuu0.l_count[14] 2 4 6 #SB_DFFER
set_location Lab_UT.didpuu0.didpsones.q_RNO[3] 8 11 3 #SB_LUT4
set_location Lab_UT.didpuu0.didpmones.q_RNO[1] 8 14 5 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIU2OL2[5] 6 9 1 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNILHHC[0] 8 10 7 #SB_LUT4
set_location uu2.w_addr_displaying_RNIUCHB1[3] 7 11 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_10 2 9 7 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[2] 4 13 3 #SB_LUT4
set_location buart.Z_rx.bitcount_e_0[2] 5 4 5 #SB_DFFE
set_location Lab_UT.didpuu0.didpstens.uu0.result_1_0[3] 8 12 3 #SB_LUT4
set_location Lab_UT.dec3.g0_0 5 7 7 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIV5694[2] 6 11 4 #SB_LUT4
set_location uu2.r_addr_RNO[5] 4 7 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_48 5 11 7 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNO[3] 1 5 3 #SB_LUT4
set_location Lab_UT.secuu0.delay_line[0] 2 5 0 #SB_DFFR
set_location uu2.w_addr_displaying_RNIMF2HD[8] 8 8 6 #SB_LUT4
set_location uu2.w_addr_displaying_RNIBSR63[7] 9 11 7 #SB_LUT4
set_location uu2.w_addr_displaying_4_rep1_RNI65VM 9 9 0 #SB_LUT4
set_location Lab_UT.dspStr.cnt_RNIIDJI1_0[2] 1 9 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_27 5 10 7 #SB_LUT4
set_location Lab_UT.didpuu0.didpmones.q[1] 8 14 5 #SB_DFFSR
set_location Lab_UT.Lab3U00.q_esr[5] 2 6 2 #SB_DFFESR
set_location uu2.w_addr_user_RNO[0] 2 10 5 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNI80631[4] 5 8 5 #SB_LUT4
set_location uu2.w_addr_displaying_0_rep1_RNIN998E 7 11 4 #SB_LUT4
set_location uu2.w_addr_displaying[0] 9 12 0 #SB_DFFNSR
set_location uu2.un1_w_user_cr_2 2 8 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO 4 11 3 #SB_LUT4
set_location resetGen.reset_count_2_i_0_a3[4] 5 5 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[3] 6 3 2 #SB_LUT4
set_location Lab_UT.secuu0.l_count[5] 1 3 0 #SB_DFFER
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNI1VOS1[1] 9 13 6 #SB_LUT4
set_location uu2.w_addr_displaying_5_rep1_RNI50LS 7 11 0 #SB_LUT4
set_location uu2.un1_w_user_lf_3 2 8 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_1 5 8 4 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[2] 7 2 2 #SB_LUT4
set_location Lab_UT.secuu0.vbuf_count_cntrl1.result_1[2] 1 6 4 #SB_LUT4
set_location uu2.w_addr_displaying_fast[4] 7 9 3 #SB_DFFNSR
set_location uu2.w_addr_displaying_RNILB202[4] 8 10 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_45 7 13 3 #SB_LUT4
set_location uu2.g1 6 13 1 #SB_LUT4
set_location resetGen.reset_count[2] 7 4 7 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[4] 6 1 3 #SB_LUT4
set_location buart.Z_rx.bitcount_e_0_RNO[2] 5 4 5 #SB_LUT4
set_location Lab_UT.secuu0.sec_clkD 9 7 0 #SB_DFF
set_location Lab_UT.dspStr.cnt_RNIMHJI1[2] 1 7 0 #SB_LUT4
set_location Lab_UT.didpuu0.didpsones.q[3] 8 11 3 #SB_DFFSR
set_location uu2.w_addr_displaying_fast_RNI2VHC[4] 8 10 0 #SB_LUT4
set_location buart.Z_tx.uart_tx_RNO 4 13 2 #SB_LUT4
set_location buart.Z_rx.shifter[7] 5 5 6 #SB_DFFE
set_location Lab_UT.secuu0.vbuf_count_cntrl1.result_1[17] 4 4 1 #SB_LUT4
set_location Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[10].un175_ci_3 1 4 1 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNI3II01[2] 2 5 5 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIN0TS[4] 8 10 6 #SB_LUT4
set_location uu2.l_count_RNO[4] 7 5 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[6] 6 1 5 #SB_DFF
set_location Lab_UT.secuu0.l_count_RNIOIEB2[16] 2 5 6 #SB_LUT4
set_location Lab_UT.dspStr.un1_cnt_3_cry_0_c 1 8 0 #SB_CARRY
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNIP0SJ[0] 9 13 7 #SB_LUT4
set_location uu2.w_addr_displaying_6_rep1_RNO_0 8 9 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_29 4 10 7 #SB_LUT4
set_location buart.Z_rx.bitcount_e_0_RNII0231[0] 6 6 7 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIPN54[8] 6 11 2 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNICB763[0] 7 12 7 #SB_LUT4
set_location uu2.w_addr_displaying_8_rep1_RNO 7 9 5 #SB_LUT4
set_location uu2.w_addr_displaying_5_rep1 9 8 6 #SB_DFFNSR
set_location uu2.vbuf_count.counter_gen_label[10].un382_ci_8_1 7 5 0 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO_0[3] 6 2 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_1_c 6 1 0 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.counter[5] 6 3 4 #SB_DFF
set_location Lab_UT.secuu0.l_count[11] 4 4 3 #SB_DFFER
set_location Lab_UT.dspStr.cnt_RNIIDJI1[2] 2 9 0 #SB_LUT4
set_location Lab_UT.didpuu0.didpmtens.q_RNO[3] 7 8 7 #SB_LUT4
set_location uu2.w_addr_displaying_RNIKFL01[6] 8 8 2 #SB_LUT4
set_location uu2.w_addr_displaying_0_rep1_RNI8N8R6 8 12 6 #SB_LUT4
set_location uu2.un1_w_user_lf_3_1 5 8 0 #SB_LUT4
set_location uu2.un1_segment4_2_am_1 8 7 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_34 5 11 0 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[5] 4 13 6 #SB_LUT4
set_location buart.Z_rx.bitcount_e_0[1] 5 4 4 #SB_DFFE
set_location Lab_UT.secuu0.l_count_RNIFM2M[13] 1 6 6 #SB_LUT4
set_location Lab_UT.dspStr.cnt_RNIPKJI1[2] 2 7 7 #SB_LUT4
set_location Lab_UT.dec3.segmentUQ[4] 9 11 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNI83L01[2] 7 13 2 #SB_LUT4
set_location uu2.r_addr_RNO[0] 4 7 6 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNO[6] 1 5 5 #SB_LUT4
set_location Lab_UT.dspStr.un1_cnt_3_cry_1_c 1 8 1 #SB_CARRY
set_location Lab_UT.didpuu0.didpmtens.q[3] 7 8 7 #SB_DFFSR
set_location uu2.w_addr_displaying_7_rep1_RNO 7 9 7 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[10].un382_ci 8 4 7 #SB_LUT4
set_location buart.Z_rx.hh[0] 1 11 0 #SB_DFF
set_location uu2.w_addr_displaying_fast_RNO[2] 7 10 7 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[4] 7 10 6 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep1_RNO 9 10 6 #SB_LUT4
set_location uu2.vbuf_count.result_1[9] 8 4 6 #SB_LUT4
set_location Lab_UT.didpuu0.didpmones.q_esr_RNIF7VF1[3] 8 14 0 #SB_LUT4
set_location Lab_UT.dictrluu0.dicfsm.cState_RNO_2 6 8 6 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr[0] 2 6 0 #SB_DFFESR
set_location uu2.w_addr_displaying_RNI50L01[2] 7 10 4 #SB_LUT4
set_location uu2.w_addr_displaying[3] 6 12 6 #SB_DFFNSR
set_location uu2.r_data_reg_esr[7] 4 12 7 #SB_DFFESR
set_location uu2.mem0.ram512X8_inst_RNO_52 6 10 3 #SB_LUT4
set_location Lab_UT.secuu0.l_count[0] 1 6 2 #SB_DFFER
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNINURJ[0] 9 13 4 #SB_LUT4
set_location uu2.w_addr_displaying_4_rep1_RNIAVDB_0 8 13 1 #SB_LUT4
set_location uu2.segment3_m_1[6] 7 12 2 #SB_LUT4
set_location buart.Z_tx.bitcount[3] 7 2 3 #SB_DFF
set_location Lab_UT.didpuu0.didpmones.q_esr_RNO_0[3] 8 7 1 #SB_LUT4
set_location Lab_UT.dec3.segmentUQ_i[0] 5 11 6 #SB_LUT4
set_location uu2.w_addr_user_RNIDMJM[2] 2 10 4 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep1 9 10 6 #SB_DFFNSR
set_location uu2.un1_w_user_cr_5_1 2 8 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_17 4 9 2 #SB_LUT4
set_location uu2.l_count[5] 8 4 4 #SB_DFFSR
set_location resetGen.reset_count_2_i_0_a3_5[4] 5 5 2 #SB_LUT4
set_location resetGen.reset_count[1] 7 4 2 #SB_DFF
set_location buart.Z_tx.shifter[3] 4 13 4 #SB_DFFE
set_location uu2.w_addr_displaying_5_rep1_RNI9Q311_0 9 11 4 #SB_LUT4
set_location uu2.w_addr_displaying_4_rep1_RNI6JSF4 7 8 5 #SB_LUT4
set_location uu2.w_addr_displaying_6_rep1_RNO 8 9 0 #SB_LUT4
set_location uu2.w_addr_displaying_4_rep1_RNIAVDB 9 9 3 #SB_LUT4
set_location uu2.r_addr[2] 7 6 2 #SB_DFFSR
set_location buart.Z_tx.Z_baudgen.counter[1] 6 2 2 #SB_DFF
set_location Lab_UT.dspStr.cnt_RNO[3] 1 8 3 #SB_LUT4
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNI5DF11[0] 9 13 5 #SB_LUT4
set_location uu2.w_addr_user_RNILJEE01[2] 1 9 6 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[8] 9 10 7 #SB_LUT4
set_location uu2.w_addr_displaying_RNIAH4P4[4] 6 9 3 #SB_LUT4
set_location uu2.w_addr_displaying_RNI1BU61[7] 6 11 6 #SB_LUT4
set_location uu2.w_addr_displaying_0_rep1 9 10 1 #SB_DFFNSR
set_location uu2.w_addr_displaying_fast_RNIEDBM[7] 9 10 3 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNI9TKJ4[2] 6 11 3 #SB_LUT4
set_location uu2.w_addr_displaying_RNI18582[8] 7 13 7 #SB_LUT4
set_location uu2.vbuf_w_addr_user.result_1[3] 2 11 0 #SB_LUT4
set_location uu2.vbuf_w_addr_user.counter_gen_label[6].un447_ci_3 1 11 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[4] 6 3 6 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[0] 6 4 1 #SB_DFF
set_location uu2.vbuf_count.counter_gen_label[4].un316_ci 8 3 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_31 5 8 2 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[8] 5 12 1 #SB_LUT4
set_location Lab_UT.secuu0.vbuf_count_cntrl1.result_1[9] 2 3 0 #SB_LUT4
set_location uu2.w_addr_displaying_fast[3] 8 10 5 #SB_DFFNSR
set_location Lab_UT.secuu0.l_count_RNO[15] 2 4 3 #SB_LUT4
set_location Lab_UT.didpuu0.didpmtens.q[0] 7 7 2 #SB_DFFSR
set_location uu2.w_addr_user_RNIDD1A[5] 2 10 3 #SB_LUT4
set_location uu2.w_addr_user[1] 2 10 2 #SB_DFFNSR
set_location uu2.r_addr_esr[7] 4 8 5 #SB_DFFESR
set_location resetGen.reset_count_RNO[2] 7 4 7 #SB_LUT4
set_location buart.Z_rx.shifter[0] 9 5 2 #SB_DFFE
set_location buart.Z_rx.bitcount_cry_c[0] 5 3 0 #SB_CARRY
set_location Lab_UT.dictrluu0.dek.det_N_0_o2 6 6 0 #SB_LUT4
set_location uu2.w_addr_user_RNIKHHEL[2] 1 9 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[3] 6 12 6 #SB_LUT4
set_location uu2.w_addr_displaying_RNI8U3D2[0] 9 11 5 #SB_LUT4
set_location uu2.w_addr_displaying_7_rep1_RNIA86H1 7 12 3 #SB_LUT4
set_location uu2.segment2_m_2[5] 9 7 4 #SB_LUT4
set_location resetGen.rst_RNO 7 4 4 #SB_LUT4
set_location Lab_UT.didpuu0.o_oneSecPluse 11 9 0 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr[3] 2 6 1 #SB_DFFESR
set_location uu2.w_addr_displaying_fast_RNILLSO[7] 9 8 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNIBOM74[3] 8 11 6 #SB_LUT4
set_location uu2.w_addr_displaying[6] 8 8 1 #SB_DFFNSS
set_location uu2.r_data_reg_esr[4] 4 12 4 #SB_DFFESR
set_location uu2.mem0.ram512X8_inst_RNO_57 5 9 6 #SB_LUT4
set_location Lab_UT.secuu0.l_count[3] 1 5 3 #SB_DFFER
set_location uu2.w_addr_displaying_fast_RNI979P[3] 4 10 3 #SB_LUT4
set_location Lab_UT.secuu0.l_count[18] 4 6 0 #SB_DFFER
set_location Lab_UT.didpuu0.didpstens.q_esr[2] 8 12 1 #SB_DFFESR
set_location Lab_UT.didpuu0.didpstens.q_RNI4BA55[1] 8 14 2 #SB_LUT4
set_location Lab_UT.didpuu0.didpmtens.q_RNIRE5[1] 6 7 3 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIL396[8] 9 9 6 #SB_LUT4
set_location uu2.w_addr_displaying_5_rep1_RNIMG8P2 7 11 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_14 2 9 2 #SB_LUT4
set_location uu2.l_count[0] 8 3 2 #SB_DFFSR
set_location resetGen.reset_count[4] 7 4 1 #SB_DFF
set_location buart.Z_tx.shifter[6] 4 13 7 #SB_DFFE
set_location uu2.w_addr_displaying_fast_RNIK9D9[2] 7 9 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNIAPHB1_0[5] 6 8 0 #SB_LUT4
set_location uu2.w_addr_displaying_4_rep2_RNI75VM 8 10 3 #SB_LUT4
set_location uu2.r_addr[1] 7 5 6 #SB_DFFSR
set_location uu2.w_addr_displaying_fast_RNO[5] 8 9 4 #SB_LUT4
set_location uu2.w_addr_displaying_7_rep1_RNIPUSD1 8 11 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_23 7 13 0 #SB_LUT4
set_location uu2.w_addr_user_RNO[4] 1 10 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_59 9 9 7 #SB_LUT4
set_location uu2.g0_i_0 9 14 7 #SB_LUT4
set_location Lab_UT.secuu0.l_precount[0] 4 7 1 #SB_DFFR
set_location Lab_UT.dspStr.cnt_RNI57RQ[2] 1 7 5 #SB_LUT4
set_location Lab_UT.dspStr.cnt[2] 1 8 2 #SB_DFFSR
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNIGTMU[0] 6 13 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_5 1 11 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_32 5 9 2 #SB_LUT4
set_location uu2.w_addr_displaying_fast[0] 9 12 1 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_41 5 10 2 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[0] 6 2 1 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNO[16] 4 4 4 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNIRDS11[3] 4 5 0 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNIOSIV1[18] 4 5 1 #SB_LUT4
set_location uu2.w_addr_user[6] 1 10 7 #SB_DFFNSR
set_location uu2.w_addr_displaying_8_rep1 7 9 5 #SB_DFFNSR
set_location uu2.w_addr_displaying_0_rep1_RNI2NR6D 8 11 7 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[8].un469_ci_0 4 8 2 #SB_LUT4
set_location uu2.segment3_m_3[1] 8 14 4 #SB_LUT4
set_location uu2.r_addr_esr[8] 4 8 3 #SB_DFFESR
set_location buart.Z_rx.shifter[3] 6 5 3 #SB_DFFE
set_location buart.Z_rx.bitcount_cry_c[3] 5 3 3 #SB_CARRY
set_location Lab_UT.secuu0.vbuf_precount_cntrl1.result_1[3] 2 5 1 #SB_LUT4
set_location Lab_UT.secuu0.sec_clk_RNO 7 7 5 #SB_LUT4
set_location uu2.vbuf_count.result_1[3] 8 3 3 #SB_LUT4
set_location uu2.l_count_RNO[0] 8 3 2 #SB_LUT4
set_location uu2.r_data_reg_esr[1] 4 12 1 #SB_DFFESR
set_location Lab_UT.didpuu0.didpsones.q_RNO_0[3] 6 13 3 #SB_LUT4
set_location Lab_UT.dspStr.cnt_RNI11B71[2] 2 7 1 #SB_LUT4
set_location Lab_UT.didpuu0.didpsones.q_RNO[2] 8 11 1 #SB_LUT4
set_location Lab_UT.didpuu0.didpmones.q_RNO[0] 8 14 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_38 5 10 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_11 4 10 2 #SB_LUT4
set_location uu2.l_count[3] 8 3 3 #SB_DFFSR
set_location buart.Z_tx.shifter_RNO[1] 4 13 0 #SB_LUT4
set_location uu2.r_addr_RNO[4] 4 7 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst 3 9 0 #SB_RAM40_4K
set_location uu2.w_addr_displaying_2_rep1_RNO 9 11 3 #SB_LUT4
set_location Lab_UT.didpuu0.didpsones.q_RNI0GG11[3] 6 13 4 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[6] 7 9 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_26 2 7 5 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIQOQA1[3] 7 2 6 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr[4] 2 6 5 #SB_DFFESR
set_location uu2.un1_segment4_2_am 7 7 4 #SB_LUT4
set_location uu2.l_count_RNIU80H5[4] 7 5 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_0 2 9 6 #SB_LUT4
set_location uu2.w_addr_displaying_4_rep1_RNIMMRIA 6 9 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_44 5 8 1 #SB_LUT4
set_location buart.Z_rx.bitcount_e_0_RNIGM5F[0] 5 6 7 #SB_LUT4
set_location uu2.l_count_RNO[7] 8 4 5 #SB_LUT4
set_location Lab_UT.dspStr.cnt_RNILGJI1[2] 2 8 0 #SB_LUT4
set_location Lab_UT.secuu0.l_count[9] 2 3 0 #SB_DFFER
set_location buart.Z_rx.Z_baudgen.counter[4] 6 3 6 #SB_DFF
set_location Lab_UT.didpuu0.didpmtens.q_RNO[0] 7 7 2 #SB_LUT4
set_location Lab_UT.dictrluu0.dicfsm.cState 6 8 7 #SB_DFF
set_location uu2.w_addr_displaying_6_rep1 8 9 0 #SB_DFFNSS
set_location uu2.mem0.ram512X8_inst_RNO_35 5 11 4 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[4] 4 13 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_c 6 3 2 #SB_CARRY
set_location Lab_UT.secuu0.l_count_RNO[11] 4 4 3 #SB_LUT4
set_location uu2.r_addr_esr[3] 4 8 6 #SB_DFFESR
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_3_c 6 1 2 #SB_CARRY
set_location uu2.w_addr_displaying_fast_RNO[3] 8 10 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[7] 8 8 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_25 4 11 0 #SB_LUT4
set_location Lab_UT.dictrluu0.dicfsm.cState_RNO_3 5 7 2 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr[7] 2 6 4 #SB_DFFESR
set_location uu2.w_addr_displaying_fast_RNI6NLE[7] 5 9 4 #SB_LUT4
set_location uu2.w_addr_displaying[2] 7 13 5 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_53 6 10 0 #SB_LUT4
set_location uu2.un1_segment3_m5_bm 8 14 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_3 5 12 2 #SB_LUT4
set_location buart.Z_rx.hh_RNIVHME[0] 5 6 5 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNIGLN81[15] 2 4 7 #SB_LUT4
set_location Lab_UT.didpuu0.didpmones.q_esr[3] 7 12 1 #SB_DFFESR
set_location Lab_UT.Lab3U00.q_esr_ctle[7] 5 6 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_47 5 11 3 #SB_LUT4
set_location buart.Z_tx.shifter[2] 4 13 3 #SB_DFFE
set_location buart.Z_rx.bitcount_e_0_RNIBJOC[0] 5 4 1 #SB_LUT4
set_location Lab_UT.secuu0.vbuf_count_cntrl1.counter_gen_label[10].un175_ci_1 1 6 3 #SB_LUT4
set_location uu2.r_addr[5] 4 7 2 #SB_DFFSR
set_location Lab_UT.dspStr.cnt_RNO[2] 1 8 2 #SB_LUT4
set_location resetGen.reset_count_2_i_0_o2[4] 5 4 3 #SB_LUT4
set_location Lab_UT.didpuu0.ledDisp00.selLed_RNO[1] 6 8 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[3] 6 3 2 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_36 7 13 1 #SB_LUT4
set_location uu2.l_count[9] 8 4 6 #SB_DFFSR
set_location buart.Z_tx.shifter_RNO[7] 5 12 0 #SB_LUT4
set_location Lab_UT.dspStr.cnt_RNIOJJI1[2] 2 7 6 #SB_LUT4
set_location uu2.r_addr_RNO[2] 7 6 2 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNO[4] 2 4 4 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNO[12] 4 6 4 #SB_LUT4
set_location Lab_UT.didpuu0.didpmtens.q[1] 7 8 0 #SB_DFFSR
set_location uu2.w_addr_user[2] 2 10 6 #SB_DFFNSR
set_location uu2.un1_segment4_4_am 7 12 6 #SB_LUT4
set_location resetGen.reset_count_RNO[1] 7 4 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[2] 7 13 5 #SB_LUT4
set_location Lab_UT.didpuu0.didpstens.q_RNO[0] 8 7 3 #SB_LUT4
set_location Lab_UT.dictrluu0.dicfsm.cState_RNO_0 6 6 1 #SB_LUT4
set_location Lab_UT.Lab3U00.q_esr[2] 1 7 4 #SB_DFFESR
set_location uu2.w_addr_displaying[5] 6 12 5 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_50 5 9 7 #SB_LUT4
set_location uu2.vbuf_w_addr_user.result_1[8] 1 11 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_2_c 6 3 1 #SB_CARRY
set_location Lab_UT.secuu0.vbuf_count_cntrl1.result_1[5] 1 3 0 #SB_LUT4
set_location buart.Z_tx.shifter[1] 4 13 0 #SB_DFFE
set_location buart.Z_rx.Z_baudgen.counter_RNI2GE3[1] 6 4 3 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.counter_gen_label[5].un436_ci_0_a2 7 10 5 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_4_c 6 1 3 #SB_CARRY
set_location Lab_UT.dec3.segmentUQ_0[6] 6 7 1 #SB_LUT4
set_location Lab_UT.dec2.segmentUQ[2] 7 12 0 #SB_LUT4
set_location uu2.r_addr[0] 4 7 6 #SB_DFFSR
set_location Lab_UT.dspStr.cnt_RNO[1] 1 8 1 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[7] 4 8 5 #SB_LUT4
set_location uu2.w_addr_user_RNO[5] 2 10 7 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIK7I7[2] 7 8 4 #SB_LUT4
set_location uu2.w_addr_displaying_RNIKR5D1[6] 7 11 3 #SB_LUT4
set_location uu2.w_addr_displaying_4_rep2_RNO 9 10 5 #SB_LUT4
set_location Lab_UT.secuu0.l_precount[1] 2 5 3 #SB_DFFR
set_location Lab_UT.dspStr.cnt[1] 1 8 1 #SB_DFFSR
set_location uu2.w_addr_displaying_fast_RNI6N2K[5] 8 9 6 #SB_LUT4
set_location uu2.w_addr_displaying_RNIAPHB1[5] 6 12 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_33 7 13 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_18 4 9 6 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNI9HV1J[5] 6 9 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNIHKAF2_0[8] 5 11 1 #SB_LUT4
set_location uu2.un1_segment4_3_bm 8 12 4 #SB_LUT4
set_location uu2.w_addr_user[7] 1 10 4 #SB_DFFNSR
set_location resetGen.reset_count_RNO[4] 7 4 1 #SB_LUT4
set_location buart.Z_rx.shifter[2] 6 5 2 #SB_DFFE
set_location buart.Z_rx.bitcount_cry_c[2] 5 3 2 #SB_CARRY
set_location Lab_UT.secuu0.vbuf_precount_cntrl1.result_1[2] 2 5 4 #SB_LUT4
set_location Lab_UT.dec2.un152_segmentUQ_1 7 14 1 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[1] 4 11 7 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIQD7R4[5] 9 9 5 #SB_LUT4
set_location uu2.un1_segment4_5_am_1 6 10 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_55 5 11 5 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIBHTT[3] 8 13 0 #SB_LUT4
set_location uu2.l_count_RNIQF5F5[4] 7 5 2 #SB_LUT4
set_location Lab_UT.secuu0.l_count[16] 4 4 4 #SB_DFFER
set_location buart.Z_tx.shifter[4] 4 13 5 #SB_DFFE
set_location buart.Z_rx.bitcount_e_0[4] 5 3 4 #SB_DFFE
set_location uu2.vbuf_w_addr_user.counter_gen_label[8].un469_ci_0 1 11 6 #SB_LUT4
set_location Lab_UT.didpuu0.ledDisp00.selLed[1] 6 8 2 #SB_DFF
set_location uu2.w_addr_displaying_RNID8KP2[2] 6 8 1 #SB_LUT4
set_location uu2.un1_segment4_2_bm 6 13 0 #SB_LUT4
set_location uu2.w_addr_user_RNO[6] 1 10 7 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNI28SI1[7] 4 10 5 #SB_LUT4
set_location uu2.l_count_RNO[10] 8 5 6 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[1] 6 4 2 #SB_LUT4
set_location Lab_UT.secuu0.l_precount[2] 2 5 4 #SB_DFFR
set_location uu2.w_addr_displaying_RNIE28D2[4] 7 12 4 #SB_LUT4
set_location Lab_UT.dec0.un137_segmentUQ 6 10 6 #SB_LUT4
set_location uu2.w_addr_displaying_fast[6] 7 9 4 #SB_DFFNSS
set_location uu2.w_addr_displaying_2_rep1_RNIABAE 9 11 1 #SB_LUT4
set_location buart.Z_rx.bitcount_e_0_RNO[0] 5 4 7 #SB_LUT4
set_location Lab_UT.secuu0.l_count_RNO[18] 4 6 0 #SB_LUT4
set_location uu2.w_addr_user[4] 1 10 0 #SB_DFFNSR
set_location buart.Z_rx.shifter[5] 5 5 4 #SB_DFFE
set_location uu2.l_count_RNI89GK1[2] 8 3 0 #SB_LUT4
set_location resetGen.reset_count_2_i_0_a3_6[4] 5 5 7 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[4] 6 1 3 #SB_DFF
set_location uu2.w_addr_displaying_RNI8NHB1[2] 7 13 6 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIL4O32[1] 7 2 5 #SB_LUT4
set_location Lab_UT.secuu0.l_count[13] 4 6 7 #SB_DFFER
set_location buart.Z_rx.bitcount_e_0[3] 5 4 6 #SB_DFFE
set_location Lab_UT.didpuu0.didpstens.q_esr_ctle[3] 8 7 5 #SB_LUT4
set_location Lab_UT.dec3.segmentUQ[2] 9 11 0 #SB_LUT4
set_location Lab_UT.Lab3U01.q[0] 6 6 2 #SB_DFFSR
set_location uu2.mem0.ram512X8_inst_RNO_49 4 10 1 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location uu2.w_addr_displaying_4_rep1 9 8 4 #SB_DFFNSR
set_location Lab_UT.didpuu0.didpstens.q_esr_RNO[2] 8 12 1 #SB_LUT4
set_location Lab_UT.didpuu0.didpmones.q[2] 8 14 3 #SB_DFFSR
set_location uu2.w_addr_user_RNO[3] 2 10 1 #SB_LUT4
set_location uu2.l_count_RNI626E[10] 8 4 2 #SB_LUT4
set_location Lab_UT.secuu0.l_count[6] 1 5 5 #SB_DFFER
set_location Lab_UT.dictrluu0.dicfsm.cState_RNO 6 8 7 #SB_LUT4
set_io o_serial_data 8
set_io led[1] 98
set_io to_ir 105
set_io sd 107
set_io led[4] 95
set_io led[2] 97
set_io led[0] 99
set_io from_pc 9
set_io led[3] 96
set_io clk_in 21
